<div class="inmodal"   >
    <div class="modal-header">
        <h4 class="modal-title">Relatório em execução</h4>
        <strong class="font-bold  text-danger ">Consultar o icone de trarefas para fazer o download.</strong>
    </div>
    <div class="modal-body">
        
        <div class="sk-spinner sk-spinner-three-bounce">
                            <div class="sk-bounce1"></div>
                            <div class="sk-bounce2"></div>
                            <div class="sk-bounce3"></div>
                        </div>
    </div>
    
</div>

