<style media="screen" type="text/css">
.modal-lg {
    width: 500px;
}
</style>

<div class="inmodal"  ng-controller="trocaUnidade"  >
    <div class="modal-header">
        <h4 class="modal-title">Trocar de Unidade</h4>
        <span class="m-r-sm text-justify  "  style="font-weight: bold;"    >Unidade: {{main.userDTO.unidade.UNI_ST_CODIGO }} - {{main.userDTO.unidade.UNI_ST_DESCRICAO}}</span> 
    </div>
    <div class="modal-body">
        <div  class="table-responsive">
        <table datatable="ng" dt-options="dtOptionsWidgets"  class="table table-striped table-bordered table-hover dataTables-example"> 
        <thead> 
            <tr> 
                <th style="width:50px;" >Escolha a Unidade</th> 
            </tr> 
        </thead> 
        <tbody> 
            <tr ng-repeat="u in userDTO.unidades"   > 
                <td  ng-click="escolheUnidade(u.UNI_ST_CODIGO)"   ><span class="text-center  text-muted small    "> <i style="color:blue;"  class="fa fa-exchange" aria-hidden="true"/> {{u.UNI_ST_CODIGO}} - {{u.UNI_ST_DESCRICAO}}</span></td> 
            </tr> 
        </tbody> 
    </table> 
          </div>
    </div>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-white" ng-click="cancel()">Fechar</button>-->
        <!--<button class="btn btn-warning btn-circle" type="button"  ng-click="cancel()" ><i class="fa fa-times"></i></button>-->
         <button class="btn btn-info btn-circle  btn-lg" type="button" ng-click="cancel()"  ><i class="fa fa-check"></i></button>
    </div>
</div>



<!--<div class="ibox-content"  ng-controller="trocaUnidade" > 
    <span class="m-r-sm text-justify  "  style="font-weight: bold;"    >Unidade: {{main.userDTO.unidade.UNI_ST_CODIGO }} - {{main.userDTO.unidade.UNI_ST_DESCRICAO}}</span> 
    <hr>
    <table datatable="ng" dt-options="dtOptionsWidgets"  class="table table-striped table-bordered table-hover dataTables-example"> 
        <thead> 
            <tr> 
                <th style="width:50px;" >Escolha a Unidade</th> 
            </tr> 
        </thead> 
        <tbody> 
            <tr ng-repeat="u in userDTO.unidades"   > 
                <td  ng-click="escolheUnidade(u.UNI_ST_CODIGO)"   ><span class="text-center  text-muted small    "> <i style="color:blue;"  class="fa fa-exchange" aria-hidden="true"/> {{u.UNI_ST_CODIGO}} - {{u.UNI_ST_DESCRICAO}}</span></td> 
            </tr> 
        </tbody> 
    </table> 
</div>-->

