<div class="tm-site">

    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll" style="color: red">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                <div id="idDoLogo" class="hidden-sm hidden-md hidden-xs">    
                    <img src="views/tmsite/logotmcab.jpg" alt="logo" style="padding-left: 5px; height: 65px; width: 200px;"/>
                </div>
                    
                <div class="hidden-lg">    
                    <!--<img src="views/tmsite/LogoTM-New.png" alt="logo" height="80px;" width="90px;" style="text-align: center"/>-->
                </div>
                    
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a class="page-scroll" page-scroll href="#page-top">Home</a></li>
                        <li><a class="page-scroll" page-scroll href="#features">Institucional</a></li>
                        <li><a class="page-scroll" page-scroll href="#team">Produtos</a></li>
                        <li><a class="page-scroll" page-scroll href="#testimonials">Clientes</a></li>
                        <li><a class="page-scroll" page-scroll href="#pricing">Suporte</a></li>
                        <li><a class="page-scroll" page-scroll href="#contact">Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel" ng-non-bindable>
        <ol class="carousel-indicators">
            <li data-target="inSlider" data-slide-to="0" class="active"></li>
            <li data-target="inSlider" data-slide-to="1"></li>
            <li data-target="inSlider" data-slide-to="2"></li>
            <li data-target="inSlider" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <!--<img src="img/landing/laptop.png" alt="laptop" style="padding-left: 5px;"/>-->
                        <div class="hidden-sm hidden-md hidden-xs">

                            <div class="row">
                                <div class="col-md-12 text-center wow animated bounceInRight"  style="padding-left: -50px; margin-top: -30px;">
                                    <div class="divsitetmlogo">
                                        <img src="views/tmsite/LogoTM-New.png" class="img-rounded" style="height: 300px; width: 350px;">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center wow animated bounceInLeft"  style="padding-left: 400px; margin-top: 0px;">
                                    <div class="divback1">
                                        <h1 style="text-shadow:2px 2px rgba(113, 100, 100, 0.61); letter-spacing: - 0.5px; color: blue">Média de 8.200 exames por mês</h1>
                                        <h1 style="text-shadow:2px 2px rgba(113, 100, 100, 0.61); letter-spacing: - 0.5px; color: blue">em mais de 500 equipamentos</h1>
                                        <h1 style="text-shadow:2px 2px rgba(113, 100, 100, 0.61); letter-spacing: - 0.5px; color: blue">interfaceados por nossos sistemas</h1>
                                    </div>
                                </div>
                            </div>

                            <div class="row wow animated fadeInUpBig">
                                <div class="col-sm-4 text-center">
                                    <div class="divtminformatica">
                                    <h1> <span style="color: red">TM</span> <span style="color: blue">Informática</span> </h1>
                                    <h3 style="color: blue">Tecnologia e Serviços</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="hidden-lg">
                            
                            <div class="row wow animated fadeInUpBig">
                                <div class="col-sm-4 text-center">
                                    <h1> <span style="color: red">TM</span><span style="color: blue">Informática</span>  </h1>
                                    <h3 style="color: blue">Tecnologia e Serviços</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center wow animated bounceInLeft"  style="padding-left: 25px; margin-top: 0px;">
                                    <div class="divbackmobile">
                                        <h4 style="text-shadow:2px 2px rgba(113, 100, 100, 0.61); letter-spacing: - 0.5px; color: blue">Média de 8.200 exames por mês</h4>
                                        <h4 style="text-shadow:2px 2px rgba(113, 100, 100, 0.61); letter-spacing: - 0.5px; color: blue">em mais de 500 equipamentos</h4>
                                        <h4 style="text-shadow:2px 2px rgba(113, 100, 100, 0.61); letter-spacing: - 0.5px; color: blue">interfaceados por nossos sistemas</h4>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                    <div class="carousel-image wow zoomIn">
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>

            </div>
            

        <div class="item">
            <div class="container">
                <div class="hidden-sm hidden-md hidden-xs">
                <div class="carousel-caption blank wow animated lightSpeedIn" style="padding-right: 400px;">
                    <div class="divback2">
                        <h1 style="color: blue">Controle total do seu laboratório.</h1>
                    </div>
                </div>
                </div>
            </div>
            
            <div class="hidden-lg">
                <div class="carousel-caption blank wow animated lightSpeedIn" style="padding-right: 400px;">
                    <div class="divbackmobile1">
                        <h4 style="color: blue">Controle total do seu laboratório.</h4>
                    </div>
                </div>
                
            </div>
            
            
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>

        <div class="item">
            <div class="container">
                <div class="hidden-sm hidden-md hidden-xs">
                <div class="carousel-caption blank wow animated pulse" style="padding-right: 400px; margin-top: 280px;">
                    <div class="divback3">
                    <h1 style="color: blue">A escolha certa para a sua Empresa.</h1>
                </div>
                </div>
                </div>
            </div>
            
            <div class="hidden-lg">
                <div class="carousel-caption blank wow animated pulse" style="padding-right: 400px; margin-top: 280px;">
                    <div class="divbackmobile2">
                    <h5 style="color: blue">A escolha certa para a sua Empresa</h5>
                </div>
                </div>
            </div>
            
            <!-- Set background for slide in css -->
            <div class="header-back three"></div>
        </div>
        
        
    
        <a class="left carousel-control" data-target="#inSlider" role="button" data-slide="prev" style="margin-top: 230px;">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#inSlider" role="button" data-slide="next" style="margin-top: 230px;">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>
    
    <section id="features" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"> </div>
                <div class="col-lg-8" >
                    <img src="views/tmsite/predio.jpg" class="clientestmsite" style="height: 380px; width: 550px;">
                </div>
                <div class="col-lg-4">
                    <h1 style="text-align: right; color: #002a80">
                        TM INFORMATICA
                    </h1>
                    <h3 style="text-align:justify">
                        Fundada em 1997 a TM INFORMÁTICA vem enfrentando desafios de fornecer soluções amplas e versáteis fazendo com que nossos produtos agreguem inúmeras funções, sempre se adequando ao tamanho do seu negócio assim conquistando abrangência nacional. 
                        Nosso compromisso é atender as diversas necessidades do mercado que cada vez mais, investe em tecnologia, diminuindo os custos, sempre preservando a excelência dos serviços prestados.
                        Os parceiros TMINFORMÁTICA tem ganho de produtividade e qualidade, sendo a TMINFORMÁTICA a escolha certa para sua empresa.
                        Estamos à disposição para projetos especiais para seu negócio a fim de melhorar o processo produtivo garantindo a máxima qualidade, com redução de custo.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>    

    <section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1 style="text-align: center">
                    TMINTERFACE
                </h1>
                <div class="row features-block">
                    <div class="col-lg-6 features-text wow fadeInLeft">
                        <p style="text-align: center">Ferramenta de gerenciamento da produção laboratorial, responsável por toda operação desde o momento em que as amostras chegam a área técnica até a liberação dos resultados.</p>
                        <p style="text-align: center">Possuímos protocolo de integração (facilmente interpretado) com sistemas de gestão laboratorial LIS (Laboratory Information System) e Hospitalares HIS (Hospital Information System), também disponíveis para os protocolos padrões de mercado ASTM, HL7 entre outros.</p>
                        <p style="text-align: center">Integrado com centenas de equipamentos de automação laboratorial, inclusive as novas gerações de equipamentos (pré-analíticos, dispensadores de amostras entre outros).</p>
                        <p style="text-align: center">Exploramos todos os recursos disponíveis de cada equipamento como gráficos de eletroforese, histogramas e outras funcionalidades.</p>
                        <p style="text-align: center">Somos pioneiros em disponibilizar interface que permite em tela, a identificação da amostra e dados demográficos do paciente para os equipamentos não desenvolvidos com comunicação bidirecional (Query Mode).</p>
                    </div>

                    <div class="col-lg-6 text-right wow fadeInRight">
                        <img src="views/geslab/telaConsulta.jpg" alt="dashboard" class="img-responsive pull-right">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1 style="text-align: center">
                    TMQUALITY
                </h1>
                <div class="row features-block">
                    <div class="col-lg-6 text-right wow fadeInLeft">
                        <img src="views/tmsite/tmQuality.jpg" alt="dashboard" class="img-responsive pull-right">
                    </div>
                    <div class="col-lg-6 features-text wow fadeInRight">
                        <p style="text-align: center">
                            TMQUALITY é um software desenvolvido para o controle de qualidade em laboratórios de análises clínicas que tem como principal função fornecer dados técnicos para monitorar e melhorar a qualidade dos processos analíticos. Com uma interface amigável, o sistema é muito fácil de ser manuseado. As configurações das novas regras seguem o mesmo conceito além de ser multi-usuario o TMQuality possui módulos que podem ser gerenciados via web como por exemplo o monitor de gráficos.
                        </p>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1 style="text-align: center">
                            TMSOROTECA
                        </h1>
                        <div class="row features-block">
                            <div class="col-lg-6 features-text wow fadeInLeft">

                                <h3>Controla o armazenamento e pesquisa das amostras em estantes e freezers, além de ser como uma ferramenta para verificação de exames pendentes. </h3>
                                <p style="text-align: left">Principais Características:</p>
                                <p style="text-align: left">Cadastro de estante(grade) e freezers de acordo com a necessidade.</p>
                                <p style="text-align: left">Impressão de etiqueta de código de barras para identificação da estante.</p>
                                <p style="text-align: left">Alerta de exames pendentes na amostra.</p>
                                <p style="text-align: left">Localização instantânea da amostra.</p>
                                <p style="text-align: left">Histórico total no prontuário do paciente.</p>
                                <p style="text-align: left">Controle de validade da amostra/estante.</p>
                                <p style="text-align: left">Manipulação total da amostra.</p>
                            </div>

                            <div class="col-lg-6 text-right wow fadeInRight">
                                <img src="views/tmsite/Background/tmsoro.jpg" alt="dashboard" class="img-responsive pull-right">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row m-b-lg">
                        <div class="col-lg-12 text-center">
                            
                            <div class="navy-line"></div>
                            <h1 style="text-align: center">
                                TMRESULTADO
                            </h1>
                            
                            <div class="row features-block">
                                <div class="col-lg-6 features-text wow fadeInLeft">
                                     <img src="views/tmsite/Background/tmresu.jpg" alt="dashboard" class="img-responsive pull-right">
                                </div>

                            <div class="col-lg-6 text-right wow fadeInRight">
                                
                                <p style="text-align: center"></p>
                                <h3>Sistema para visualização de resultados de exames.</h3>
                                <p style="text-align: left">Consulta de resultados de exames e impressão de laudos via intranet, internet, leve e prático.</p>
                                <p style="text-align: left">Principais Características:</p>
                                <p style="text-align: left">Informação sobre o andamento de seus exames.</p>
                                <p style="text-align: left">Rapidez da informação dos resultados.</p>
                                <p style="text-align: left">Economia de insumos.</p>
                                <p style="text-align: left">Visualização apenas dos pedidos solicitados.</p>
                                <p style="text-align: left">Senha de acesso individual.</p>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        

                <div class="container">
                    <div class="row m-b-lg">
                        <div class="col-lg-12 text-center">
                            <div class="navy-line"></div>
                            <div class="row features-block">
                                
                                <div class="col-lg-6 features-text wow fadeInLeft">
                                    <h1 style="text-align: center">
                                        TMCOUNTER
                                    </h1>
                                    <h3>Contador de Células</h3>
                                    <p style="text-align: left">Equipamento desenvolvido pela TMInformática para realizar a contagem de células junto com a leitura da lamina totalmente interfaceado para uso laboratorial. Instrumento compacto, desenvolvido com tecnologia atual atingindo excelência na contagem e revisão dos resultados de seus exames.</p>
                                    <p style="text-align: left">Com o TMCOUNTER pode-se contar parâmetros hematológicos, de urinálise ou de espermograma, inclusive incluir observações tudo facilmente configurável.</p>
                                    <p style="text-align: left">O instrumento possui uma entrada para leitor de código de barras para facilitar a localização da amostra e identificação do paciente no display sem a necessidade de digitar o código evitando possíveis erros de digitação. Também possui uma saída serial e conexão TCP/IP que permite a integração com os sistemas de interfaceamento.</p>
                                    <p style="text-align: left">Após a contagem e confirmação do resultado, estes serão enviados ao seu sistema de informação finalizando assim o processo dentro da área técnica e já habilitando a assinatura do laudo final.</p>
                                </div>
                                
                                <div class="col-lg-6 text-right wow fadeInRight">
                                    <h1 style="text-align: center">
                                        TMPORT
                                    </h1>
                                    <h3>Conversor Serial/TCP para equipamentos laboratoriais. </h3>
                                    <p style="text-align: left">Equipamento utilizado para comunicação e conexões de periféricos seriais RS232 à rede Ethernet 10/100 Base-T que permite redirecionamento de porta COM (Windows) e TTY (Unix), além de disponibilizar portas de entrada e saída (I/O). Tornando a comunicação entre o interface e o equipamento mais segura</p>
                                    <p style="text-align: left">Equipamento individual, tornando-o uma ferramenta prática na eventual mudança de local do equipamento. </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            
                </section>

                <br><br><br><br>
                <br><br><br><br>





                <section id="testimonials">

                    <div class="container">
                        <div class="navy-line"></div>
                        <div class="row">

                            <h2 style="text-align: center">
                                A <b>TM INFORMÁTICA</b> hoje conta com uma quantidade significativa de parceiros com grande expressão dentro do cenário de análises clínicas nacional e internacional.
                            </h2><br>

                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">

                                    <slick class="slick_demo_2" infinite="true" slides-to-show="3" slides-to-scroll="1" center-mode="true"
                                           responsive="[ { breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 3, infinite: true, dots: true } }, { breakpoint: 600, settings: { slidesToShow: 2, slidesToScroll: 2 } }, { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 } } ]" >
                                        <div>
                                            <div class="ibox-content">

                                                <img src= "views/tmsite/imagens/apae.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src= "views/tmsite/imagens/Alere.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/aimara.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/biorad.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/biomerieux.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/cientificalab.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/cimerman.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/dasaa.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/diamed.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/dobber.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/fenix.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/horiba.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/Itapema.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/lca.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/saolucas.jpg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">

                                                <img src="views/tmsite/imagens/werfen.jpg" alt="">
                                            </div>
                                        </div>
                                    </slick>
                                </div>
                            </div>
                            <br>

                            <h3 style="text-align: center">
                                Parceiros que confiam em nosso trabalho e acreditam no ideal da TM INFORMÁTICA que preza a cumplicidade, fidelidade e acima de tudo respeito pelo conhecimento e participação de cada pessoa desse grupo que cresce a cada dia.
                            </h3>
                        </div>
                    </div>


                </section>

                <br><br><br><br>

                <section id="pricing" class="pricing">
                    <div class="container">
                        <div class="row m-b-lg">
                            <div class="col-lg-12 text-center">
                                <div class="navy-line"></div>

                                <h1 style="text-align: center">
                                    Falando em atendimento, a TM INFORMÁTICA conta com Suporte Técnico 24H.</h1>
                                <p style="text-align: center">Técnicos altamente treinados estão a disposição para tirar dúvidas e quando necessário solucionar problemas, de segunda a segunda, 24h por dia!</p>
                                <p style="text-align: center">Nossos técnicos possuem conhecimentos sobre as rotinas laboratoriais, facilitando o entendimento entre o parceiro e o atendente.</p>
                                <p style="text-align: center">Na área de desenvolvimento, nossa equipe esta capacitada para desenvolver e aprimorar nossos produtos garantindo assim, mais segurança, confiabilidade e uma interface amigável para benefício único e exclusivo do parceiro.</p>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-6 wow zoomIn">
                                <i class="fa fa-cloud features-icon" style="color: blue"></i>
                                <a href="viaweb">VIA WEB</a>
                                <p>Você pode abrir ocorrências on-line. Esse é o meio mais rápido e eficaz para ser atendido, pois temos equipe de suporte help-desk a disposição, além de ser a forma mais rápida e eficaz você terá todo o histórico da ocorrência on-line sem a necessidade de envios de relatórios.</p>
                            </div>

                            <div class="col-lg-6 wow zoomIn">
                                <i class="fa fa-phone features-icon" style="color: blue" ></i>
                                <a>TELEFONE</a>
                                <p>
                                    Suporte técnico de segunda a sexta-feira 24 horas pela central telefônica (11) 4195-2102 
                                    Aos sábados, suporte técnico até as 22:00 pela central telefônica (11) 4195-2102 
                                    Aos sábados após as 22:00, domingos e feriados pelo telefone (11) 7808-0896
                                </p>
                            </div>
                        </div>

                        <br><br>

                        <div class="row">

                            <div class="col-lg-6 wow zoomIn">
                                <a class="fa fa-envelope-o features-icon" style="color: blue" href="mailto:suporte@tminformatica.com.br"></a>
                                <a href="mailto:suporte@tminformatica.com.br">suporte@tminformatica.com.br</a>
                            </div>

                            <div class="col-lg-6 wow zoomIn">
                                <i class="fa fa-skype features-icon" style="color: blue"></i>
                                <a>SKYPE</a>
                                <p>Usuário: tm.informatica</p>
                            </div>


                        </div>
                    </div>
                </section>
                
                
                


                <section id="contact" class="gray-section contact">
                    <div class="container">
                        <div class="row m-b-lg">
                            <div class="col-lg-12 text-center">
                                <br>
                                <br>

                                <div class="logo-footer"><img id="logo-footer" src="views/tmsite/LogoTM-New.png" alt="" style="width: 250px; height: 250px;"></div>
                                <p>Hoje a evidência é o ponto crucial para o sucesso, sabendo disso nos colocamos a disposição para uma visita em seu laboratório
                                    nosso departamento comercial está a disposição para demonstrar nossos produtos.</p>

                                <p style="color: black;">Suporte técnico telefônico e remoto de segunda a sexta-feira 24 horas pela central telefônica (11-4195-2102)</p>
                                <p style="color: black;">Aos sábados, suporte técnico telefônico e remoto até as 22:00 pela central telefônica (11-4195-2102)</p>
                                <p style="color: black;">Plantão aos sábados após as 22:00, domingos e feriados pelo telefone (11 – 7808-0896)</p>
                            </div>
                        </div>
                        <div class="row m-b-lg">
                            <div class="col-lg-4 col-lg-offset-4">
                                <ul class="list-icons">
                                    <li><i class="fa fa-map-marker pr-10"></i>Av. Andromeda, 885 - Alphaville, Barueri - SP</li>
                                    <li><i class="fa fa-building-o pr-10"></i> 7<sup>o</sup> Andar - Sala 723</li>
                                    <li><i class="fa fa-globe pr-10"></i>CEP: 06473-000</li>
                                    <li><i class="fa fa-phone pr-10"></i> (11) 4195-2102</li>
                                    <li><i class="fa fa-envelope-o pr-10"></i> suporte@tminformatica.com.br</li>
                                </ul
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

                    <p>Copyright © 2016 TMInformática - Todos os Direitos Reservados - Design by Porto</p>
                    <!-- Local script for menu handle -->
                    <!-- It can be also directive -->

<script>
    $(document).ready(function () {
        $('#idDoLogo').hide();
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            if($('body').hasClass('body-small')) {
                $('#navbar').collapse('toggle');
            }
        });

        // Activate WOW.js plugin for animation on scrol
        new WOW().init();
    });
    
    var totalItems = $('.item').length;
    var currentIndex = $('div.active').index() + 1;
        $('#inSlider').carousel({
            interval: 5000
        });
        $('#inSlider').on('slid.bs.carousel', function() {
            currentIndex = $('div.active').index() + 1;
            $('#idDoLogo').removeAttr('class').attr('class', '');
            $('#idDoLogo').removeAttr('style').attr('style', '');
            // alert (currentIndex);
                if(currentIndex == 1){
                 //$('#idDoLogo').hide();
                    $('#idDoLogo').addClass('fadeOut');
                     $('#idDoLogo').addClass('animated');
                }else{
                // $('#idDoLogo').show();  
                 $('#idDoLogo').addClass('fadeIn');
                 $('#idDoLogo').addClass('animated');
                 if(currentIndex == totalItems){
                     currentIndex = 0;
                 }
                }   
        });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
</script>