<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="login" >
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/ADMIN_48x48.jpg"/>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{userDTO.USU_ST_NOME}}</strong>
                             </span>
                                <span class="text-muted text-xs block">{{userDTO.USU_ST_EMAIL}}<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Profile</a></li>
                        <li><a ui-sref="app.contacts">Contacts</a></li>
                        <li><a ui-sref="mailbox.inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a   ng-click="logOut()" >Sair</a></li>
                    </ul>  
                </div>
                <div class="logo-element"   >
                    <a ui-sref="widgets.lisnet" >{{userDTO.cliente.CLI_ST_CODIGO}}</a>
                    
                </div>
            </li>
<!--            <li ng-class="{active: $state.includes('dashboards')}">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'DASHBOARD' | translate }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
                    <li ui-sref-active="active">
                            <a ui-sref="dashboards.dashboard_1">{{ 'DASHBOARD' | translate }} v.1</a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_2">{{ 'DASHBOARD' | translate }} v.2</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_3">{{ 'DASHBOARD' | translate }} v.3</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_4_1">{{ 'DASHBOARD' | translate }} v.4</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_5">{{ 'DASHBOARD' | translate }} v.5 </a></li>
                </ul>
            </li>-->


          <li ui-sref-active="active">
                <a ui-sref="widgets.lisnet"><i class="fa fa-flask"></i> <span class="nav-label">{{ 'WIDGETS' | translate }}</span></a>
            </li>
            
            <li  ng-repeat="p in  userDTO.perfil"  ng-class="{active: $state.includes(p.MOD_ST_CODIGO)}"  >
                <a href="index.html"><i class="{{voltaLogo(p.MOD_ST_CODIGO)}}"></i> <span class="nav-label">{{p.MOD_ST_DESCRICAO}}</span> <span class="fa arrow"></span></a>
                <!--ng-class="{in: $state.includes(p.state)}"-->
                <ul class="nav nav-second-level collapse"  ng-class="{in: $state.includes(p.MOD_ST_CODIGO)}"   > 
                    <li ui-sref-active="active" ng-repeat="f in p.telas"    >
                        <a ng-click="stageGO(f.stateComposto)"  class="font-italic text-muted  text-info"  ng-hide="f.telas"  > {{f.MOD_ST_DESCRICAO}}</a>
                        <a href="index.html"ng-show="f.telas" ><i  class="{{voltaLogo(f.MOD_ST_CODIGO)}}" ></i> {{f.MOD_ST_DESCRICAO}} <span class="fa arrow"></span></a>
                        <!--{{acheiOFDP(f.stateN)}}-->
                        <ul class="nav nav-thrird-level collapse"    ng-show="f.telas"   >
                            <li ui-sref-active="active" ng-repeat="n in f.telas"   >
                                <a ng-click="stageGO(n.stateComposto)"  class="font-italic text-muted  text-info" > {{n.MOD_ST_DESCRICAO}}</a>
                            </li>
                        </ul>
                    </li>    
                    
                </ul>
            </li>
          
            
        </ul>

    </div>
</nav>