<nav class="navbar-default navbar-static-side  " role="navigation" >
    <div class="sidebar-collapse"  >
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image"  style="background-color: #f1f1f1"  class="img-rounded"  width="140"   src="../../resources/img/logo_site.png"/>
<!--                    <img alt="image" class="img-circle" src="img/ADMIN_48x48.jpg"/>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userDTO.USU_ST_NOME}}</strong>
                             </span>
                                <span class="text-muted text-xs block">{{main.userDTO.USU_ST_EMAIL}}<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a   ng-click="main.logOut()"  style="color: red;" >Sair</a></li>
                    </ul> -->
<!--                    <div  class="logo-name-lisnet-navigation" >
                        <a ui-sref="widgets.lisnet"   >{{main.userDTO.cliente.CLI_ST_NOME}}</a>
                    </div>-->
                    
                </div>
                <div class="logo-element logo-element-lisnet"   >
                    <a ui-sref="widgets.lisnet" >{{main.userDTO.cliente.CLI_ST_NOME}}</a>
                </div>
            </li>

             <li ui-sref-active="active"  ng-show="main.userDTO.hotPages && main.userDTO.hotPages.length > 0" >
                 <a href="index.html"><i  style="color: #FF6F00;"  class="fa fa-fire"></i> <span  style="color: #FFA000;" class="nav-label">Telas abertas</span> <span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level collapse"   > 
                    <li ui-sref-active="active" ng-repeat="h in main.userDTO.hotPages"    >
                        <a ng-click="main.stateGO(h.name)"  class="font-italic text-muted  text-info"  > {{h.data.pageTitle}}</a>
                    </li>    
                </ul>
            </li>
            
            
            <li ui-sref-active="active">
                <a  style="color: #0097cf"  ng-click="main.stateGO('widgets')" ><i class="fa fa-home"></i> <span class="nav-label">{{ 'HOME' | translate }}</span></a>
            </li>
            
            <li  ng-repeat="p in  main.userDTO.perfil"  ng-class="{active: $state.includes(p.MOD_ST_CODIGO)}"  >
                <a href="index.html"><i class="{{main.voltaLogo(p.MOD_ST_CODIGO)}}"></i> <span class="nav-label">{{p.MOD_ST_DESCRICAO}}</span> <span class="fa arrow"></span></a>
                <!--ng-class="{in: $state.includes(p.state)}"-->
                <ul class="nav nav-second-level collapse"  ng-class="{in: $state.includes(p.MOD_ST_CODIGO)}"   > 
                    <li ui-sref-active="active" ng-repeat="f in p.telas"    >
                        <!--<a ng-click="main.stateGO(f.stateComposto)"  ng-show="n.visualisar"  class="font-italic text-muted  text-info"  ng-hide="f.telas"   > {{f.MOD_ST_DESCRICAO}}</a>-->
                        
                       <a  ng-click="main.stateGO(f.MOD_ST_CODIGO)"  class="font-italic text-muted   "       ng-show="f.visualisar  && !f.telas"     > {{f.MOD_ST_CODIGO}}-{{f.MOD_ST_DESCRICAO}}</a>
                        <!--<a ng-click="main.stateGO(f.state)"  class="font-italic text-muted  text-info"       ng-show="main.visualisar(f.state)"     > {{f.MOD_ST_DESCRICAO}}</a>-->
                        
                        <!--<a href="index.html"ng-show="f.telas"   ng-hide="!n.visualisar"  ><i  class="{{voltaLogo(f.MOD_ST_CODIGO)}}" ></i> {{f.MOD_ST_DESCRICAO }} <span class="fa arrow"></span></a>-->
                        <a style="color: gold;" class="text-capitalize"  href="index.html"ng-show="f.telas  &&  f.telas.length"   ><i  class="{{main.voltaLogo(f.MOD_ST_CODIGO)}}" ></i> {{f.MOD_ST_DESCRICAO }} <span class="fa arrow"></span></a>
                        <!--{{acheiOFDP(f.stateN)}}-->
                        <ul class="nav nav-thrird-level collapse"    ng-show="f.telas"   >
                            <li ui-sref-active="active" ng-repeat="n in f.telas"   >
                                <a   ng-click="main.stateGO(n.MOD_ST_CODIGO)"   ng-show="n.visualisar"  class="font-italic text-error" > {{n.MOD_ST_CODIGO}}-{{n.MOD_ST_DESCRICAO}}</a>
                                    <!--<a ng-click="main.stateGO(n.state)"   ng-show="main.visualisar(n.state)"  class="font-italic text-muted  text-info" > {{n.MOD_ST_DESCRICAO}}</a>-->
                            </li>
                        </ul>
                    </li>    
                </ul>
            </li>

            <li ui-sref-active="active">
                <a  style="color: #f75172; "  ng-click="main.logOut()"  ><i class="fa fa-power-off"></i> <span >Sair</span></a>
            </li>
            
            
        </ul>

    </div>
</nav>