<div class="row border-bottom"  ng-controller="notificacaoBarra" >
    
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom"   autocomplete="off"  style="display: inline;"   >
                <div class="form-group">
                    <input type="text" style="font-weight: bolder;  font-size: 18px;" placeholder="Procurar tela .............." class="form-control " name="top-search" 
                           id="top-search" ng-model="telaSelecionada" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8"     typeahead-on-select="main.stateGO( cortaString($item))" >
                    <!--typeahead-on-select="main.stateGO( onSelect($item, $model, $label))"  enter-key="main.stateGO( cortaString(telaSelecionada))" --> 
                </div>
            </form>
        <div  ng-show="main.carregando"  style="padding-top: 17px;"  id="loadImgTela" class="navbar-right sk-spinner sk-spinner-three-bounce  visible-lg-block "><div class="sk-bounce1"></div><div class="sk-bounce2"></div><div class="sk-bounce3"></div></div>            
        </div>
        
        <ul class="nav navbar-top-links navbar-right">
            <li style="padding-right: 1px;"   class="b-r" >
                <span class="m-r-sm text-justify  "  style="font-weight: bold;"    > <label  class="hidden-md hidden-sm hidden-xs  text-justify " >Unidade:</label> 
                <i  data-toggle="tooltip"    title="Unidade {{main.userDTO.unidade.UNI_ST_DESCRICAO }}" class="fa fa-home hidden-lg" style="color: #0044cc" ></i>   {{main.userDTO.unidade.UNI_ST_CODIGO }}</span>
            </li>
            <li ng-controller="trocaUnidade"  style="padding-right: 1px;padding-left: 1px;"   class="b-r"  ng-click="popUnidades()"  >
                <i  data-toggle="tooltip"    title="Trocar de Unidade." class="fa fa-exchange"  style="padding-right: 1px; color: orangered; " ></i>
                <span class="m-r-sm text-danger  hidden-md hidden-sm hidden-xs "  style="font-weight: bold;"   >Trocar de Unidade.</span>
            </li>
            <li     class="pull-right"   >
                <a    ng-click="main.logOut()"  style="padding-right: 20px;" data-toggle="tootip"  title="Sair do Sistema"  >
                    <strong  class="hidden-md hidden-sm hidden-xs"   style="color: #f75172;  "  >Sair</strong> 
                    <i style="color: #f75172; "  class="fa fa-power-off"   ></i>
                </a>
            </li>
<!--            <li style="padding-left: 1px;" >
                <span class="m-r-sm text-muted welcome-message">Bem Vindo ao LisNet.</span>
            </li>-->
            <!--            <li uib-dropdown>
                            <a class="count-info" href uib-dropdown-toggle>
                                Language
                            </a>
                            <ul uib-dropdown-menu class="animated fadeInRight m-t-xs" ng-controller="translateCtrl">
                                <li><a ng-click="changeLanguage('en')">English</a></li>
                                <li><a ng-click="changeLanguage('es')">Spanish</a></li>
                            </ul>
                        </li>-->
            <!--
                        <li uib-dropdown>
                            <a class="count-info" href uib-dropdown-toggle>
                                <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                            </a>
                            <ul class="dropdown-messages" uib-dropdown-menu>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a ui-sref="profile" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a7.jpg">
                                        </a>
            
                                        <div>
                                            <small class="pull-right">46h ago</small>
                                            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a ui-sref="profile" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a4.jpg">
                                        </a>
            
                                        <div>
                                            <small class="pull-right text-navy">5h ago</small>
                                            <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                            <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a ui-sref="profile" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/profile.jpg">
                                        </a>
            
                                        <div>
                                            <small class="pull-right">23h ago</small>
                                            <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                            <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a ui-sref="mailbox.inbox">
                                            <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>-->

            <li uib-dropdown       ng-click="resumeNofificacao()" >
                <a class="count-info" href uib-dropdown-toggle   >
                    <i  class="fa fa-bell "  ></i> <span    class="label "  ng-class="userDTO.bellClass" >{{userDTO.notificacoes.length}}</span>
                </a>
                <ul class="dropdown-alerts" uib-dropdown-menu>


                    <span  ng-repeat="n in notificacoesResumida" >
                        <li >
                            <span >
                                <div>
                                    <!--<i   ng-show="{{n.status  != 'B'}}"  class="{{n.icon}}}"   ></i>-->
                                    <i    ng-click="openRelatorio(n.status, n.id)" ng-cloak class="{{n.icon}}}"  style="{{n.style}}"    ></i>
                                    {{n.descricao | ellipsis : 22}}
                                    <span class="pull-right text-muted small  ">{{n.aviso}} - {{n.dtInicio| date:  'dd/MM/yyyy'}}</span>
                                </div>
                            </span>
                        </li>
                        <br>
                        <li class="divider"></li>
                    </span>

                    <li  style="background-color: lightblue" ng-if="userDTO.notificacoes.length && userDTO.notificacoes.length > 0" >
                        <div class="text-center link-block"   >
                            <a   ng-click="main.stateGO('controle.notificacoes')" >
                                <strong>Veja todas as notificações.</strong>
                                <i class="fa fa-angle-right  "></i>
                                <i class="fa fa-angle-right  "></i>
                            </a>
                        </div>
                    </li>
                    <li class="divider"></li>
                </ul>
            </li>

        </ul>

    </nav>
</div>