<div class="ibox-content  animated fadeInRight"  >
    <div class="row  panelcinza" style="padding-bottom: 5px;" >
        <div class="col-lg-12" >


            <label >{{userDTO.cadastroPaciente.config.SOL_ST_CODIGO.label}}</label>
            <div class="form-inline "  >

                <div   ng-if="userDTO.cadastroPaciente.config.SOL_ST_CODIGO.visible" >
                    <select style="width: 70px;"   name="SOL_ST_ESTADO"  id="pesquisas" class="chosen-select form-control col-lg-2"   autofocus
                            ng-model="userDTO.cadastroPaciente.requisicao.SOL_ST_ESTADO"  focus="inputSOL_ST_ESTADO"   >
                        <option ng-repeat="u in userDTO.ufs" value="{{u}}"  >{{u}}</option>
                    </select>
                    <input   style="width: 60px;" type="text" class="form-control  col-lg-2"  name="PRO_ST_CODIGO"   ng-model="userDTO.cadastroPaciente.requisicao.PRO_ST_CODIGO" ng-disabled="userDTO.cadastroPaciente.config.SOL_ST_CODIGO.disable"
                             capitalize focus="inputPRO_ST_CODIGO"  ng-required="{{userDTO.cadastroPaciente.config.SOL_ST_CODIGO.required}}"
                             ng-minlength="0"  ng-maxlength="3"  />

                    <input   style="width: 60px;" type="text" class="form-control  col-lg-2"  name="SOL_ST_CODIGO"   ng-model="userDTO.cadastroPaciente.requisicao.SOL_ST_CODIGO" ng-disabled="userDTO.cadastroPaciente.config.SOL_ST_CODIGO.disable"
                             capitalize focus="inputSOL_ST_CODIGO"  ng-required="{{userDTO.cadastroPaciente.config.SOL_ST_CODIGO.required}}"
                             ng-minlength="userDTO.cadastroPaciente.config.SOL_ST_CODIGO.min"  ng-maxlength="userDTO.cadastroPaciente.config.SOL_ST_CODIGO.max"  />
                    <div ng-messages="cpform.SOL_ST_CODIGO.$error"   class="ngmesssagecpform" >
                        <div   ng-messages-include="views/tmtelas/messages.html" ></div>
                    </div>

                    <div class="col-lg-9" >
                        <input   disabled  type="text"   placeholder="{{userDTO.cadastroPaciente.config.SOL_ST_CODIGO.label}}"  class="form-control full-width"  name="EXA_ST_DESCRICAO"   
                                 ng-model="userDTO.cadastroPaciente.requisicao.coletor.SOL_ST_NOME"  />
                    </div>
                </div>

                <div class="col-lg-12" >
                    <label>
                        {{userDTO.cadastroPaciente.config.EXA_ST_DESCRICAO.label}}
                    </label>
                </div>

                <input   style="width: 85px;"  type="text"  placeholder="{{userDTO.cadastroPaciente.config.REQ_ST_GUIA.label}}"    class="form-control col-lg-1 "  name="REQ_ST_GUIA"   ng-model="userDTO.cadastroPaciente.requisicao.REQ_ST_GUIA" 
                         ng-minlength="userDTO.cadastroPaciente.config.REQ_ST_GUIA.min"  ng-maxlength="userDTO.cadastroPaciente.config.REQ_ST_GUIA.max"  capitalize focus="inputREQ_ST_GUIA"  
                         ng-disabled="userDTO.cadastroPaciente.paciente.REQ_ST_GUIA.disable" ng-required="{{userDTO.cadastroPaciente.config.REQ_ST_GUIA.required}}"  />
                <div ng-messages="cpform.REQ_ST_GUIA.$error"   class="ngmesssagecpform" >
                    <div   ng-messages-include="views/tmtelas/messages.html" ></div>
                </div>
                <input style="width: 85px;"  type="text"   placeholder="{{userDTO.cadastroPaciente.config.EXA_ST_CODIGO.label}}"  class="form-control col-lg-1"  name="EXA_ST_CODIGO"   ng-model="userDTO.cadastroPaciente.requisicao.exame.EXA_ST_CODIGO" 
                       ng-minlength="userDTO.cadastroPaciente.config.EXA_ST_CODIGO.min"  ng-maxlength="userDTO.cadastroPaciente.config.EXA_ST_CODIGO.max"  capitalize focus="inputEXA_ST_CODIGO"  
                       ng-disabled="userDTO.cadastroPaciente.paciente.EXA_ST_CODIGO.disable" ng-required="{{userDTO.cadastroPaciente.config.EXA_ST_CODIGO.required}}"  />
                <div ng-messages="cpform.EXA_ST_CODIGO.$error"   class="ngmesssagecpform" >
                    <div   ng-messages-include="views/tmtelas/messages.html" ></div>
                </div>
                <div class="col-lg-4" >
                    <input   disabled  type="text"   placeholder="{{userDTO.cadastroPaciente.config.EXA_ST_DESCRICAO.label}}"  class="form-control full-width"  name="EXA_ST_DESCRICAO"   
                             ng-model="userDTO.cadastroPaciente.requisicao.exame.EXA_ST_DESCRICAO"  />
                </div>


                <input   style="width: 85px;"  type="text"  placeholder="{{userDTO.cadastroPaciente.config.MAT_ST_CODIGO.label}}"    class="form-control col-lg-1 "  name="MAT_ST_CODIGOA"   ng-model="userDTO.cadastroPaciente.requisicao.exame.MAT_ST_CODIGOA" 
                         ng-minlength="userDTO.cadastroPaciente.config.MAT_ST_CODIGO.min"  ng-maxlength="userDTO.cadastroPaciente.config.MAT_ST_CODIGO.max"  capitalize focus="inputMAT_ST_CODIGO"  
                         ng-disabled="userDTO.cadastroPaciente.paciente.MAT_ST_CODIGO.disable" ng-required="{{userDTO.cadastroPaciente.config.MAT_ST_CODIGO.required}}"  />
                <div ng-messages="cpform.MAT_ST_CODIGO.$error"   class="ngmesssagecpform" >
                    <div   ng-messages-include="views/tmtelas/messages.html" ></div>
                </div>
                <div class="col-lg-4" >
                    <input  disabled  type="text"   placeholder="{{userDTO.cadastroPaciente.config.MAT_ST_DESCRICAO.label}}"  class="form-control full-width "  name="MAT_ST_DESCRICAO"   
                            ng-model="userDTO.cadastroPaciente.requisicao.material.MAT_ST_DESCRICAO"  />
                </div>



            </div>

        </div>
    </div>
    <div class="row  "  >
        <div class="col-lg-12  ">

            <div  >

                <div class="table-responsive">
                    <table class="footable table table-stripped toggle-arrow-tiny table-bordered table-hover dataTables-example " data-page-size="10">
                        <thead>
                            <tr>
                                <th data-toggle="true">Procedimento</th>
                                <th>Descrição</th>
                                <th>Amostra</th>
                                <th>Material</th>
                                <th>Urgente</th>
                                <th>Trouxe. Mat</th>
                                <th>Grupo</th>
                                <th>Guia</th>
                                <th>Autorização</th>
                                <th>Status</th>
                                <th>Dt.Entrega</th>
                                <th>Valor</th>
                                <th>Cod.Fat</th>

                                <th data-hide="all"><strong>Detalhes</strong></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" e in userDTO.cadastroPaciente.requisicao.exames"  foo-table  >

                                <td>
                                    &nbsp;&nbsp;&nbsp;<button class="btn btn-outline  btn-success  btn-rounded  "     ng-click="encontraPaciente(p.PAC_IN_CODIGO)"     data-toggle="tooltip" title="Escolher paciente"    >{{p.PAC_IN_CODIGO}}</button>
                                </td>
                                <td>{{e.EXA_ST_CODIGO}}</td>
                                <td>{{e.EXA_ST_DESCRICAO}}</td>
                                <td>{{e.AMO_ST_CODIGO}}</td>
                                <td>{{e.DER_ST_MATERIAL}}</td>
                                <td>{{e.DER_CH_URGENTE}}</td>
                                <td>{{e.DER_CH_TROUXEMAT}}</td>
                                <td>{{e.GRP_ST_CODIGO}}</td>
                                <td>{{e.DER_ST_GUIA}}</td>
                                <td>{{e.AUTORIZACAO}}</td>
                                <td>{{e.LEG_ST_CODIGO}}</td>
                                <td>{{e.DER_DT_DATAPREVISTAENTREGA}}</td>
                                <td>{{e.DER_FL_VALOREXTERNO}}</td>
                                <td>{{e.FAT_ST_CODIGO}}</td>


                                <td>

                                    NAO TEM NADA AQUI AINDA.
                                </td>

                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>


</div>