
<!-- focus ex:  http://fiddle.jshell.net/ubenzer/9FSL4/8/-->


<style media="screen" type="text/css">

    .footable-row-detail-inner  {
        width: 100%;
    }

    .footable-row-detail-name {
        /*display: table-cell;*/ 
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding-left: 5px; 
        padding-top: 10px;
        width: 40px;
        height: 50%;
    }

    .btn {
        padding: 2px 10px;
        font-size: 12px;
    }
    
    .wizard > .steps > ul > li {
        width: 15%;
    }
    .p-lg {
    padding: 10px;
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 4px;
    text-decoration: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.ngmesssagecpform{
    /*position: absolute;*/ 
/*    background-color: #FFF;
    border-radius: 5px;
    border: 2px solid gray;
    padding-left: 5px; 
    padding-top: 25px;
    z-index: 5000;*/
    /*display: none;*/
}


.panelcinza{

    padding-top: 10px;
/*    background: #ECE9E6;  fallback for old browsers 
    background: -webkit-linear-gradient(to right, #ECE9E6 , #FFFFFF);  Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to right, #ECE9E6 , #FFFFFF);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    

/*background: #44A08D;  fallback for old browsers 
background: -webkit-linear-gradient(to left, #44A08D , #093637);  Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to left, #44A08D , #093637);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    
    margin: 0 0.5em 0.5em;
    text-decoration: none;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(86, 96, 117, 0.7);
}



.col-fixed-10{
    width:5px;
    /*background:red;*/
    /*position:fixed;*/
    /*height:100%;*/
    z-index:1;
}

.col-fixed-160{
    margin-left:240px;
    width:160px;
    background:blue;
    position:fixed;
    height:100%;
    z-index:1;
}

.col-offset-400{
    padding-left:415px;
    z-index:0;
}

</style>

<div class="wrapper wrapper-content animated fadeInRight  inputcolor"   ng-controller="cadastroPaciente" style="padding-bottom: 0px;" >
    
        <!--<div ng-include="'views/tmtelas/cadastro_paciente/cadastro_paciente_busca_paciente.html'" ng-if="userDTO.cadastroPaciente.showBuscaPaciente"  ></div>-->
        
    <div class="row"  >
        <div class="col-lg-12">
            
            
            <div class="ibox">
                
                <div class="ibox-content wizard">
                    
                    <div class="steps clearfix"  ng-if="userDTO.cadastroPaciente.showWizard" >
                        
                        <ul>
                            
                            <li ng-repeat="s in steps  track by $index" ui-sref-active="current">
                                <div ng-if="$index === 0" >
                                    <a    ui-sref="{{s.state}}"  class="btn btn-danger  btn-outline"> <i class="fa fa-search "> &nbsp;&nbsp; {{s.label}}</i></a>
                                </div>
                                <div  ng-if="$index > 0" >
                                    <a    eat-click-if="goToStep(s.state)"   ui-sref="{{s.state}}"  class="btn-default  text-center"> {{s.label}}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="wizard">
                        <form name="cpform" autocomplete="off" >
                            <!-- telas nested serao incluidas aqui. -->
                            <div id="form-views" ui-view></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>
