<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>TM Informática</h2>
                <strong>About TM Informática</strong>
    </div>
    
      
    <div class="col-sm-8">
        <div class="title-action">
            
        <a href="" class="btn btn-danger"  >Follow us</a>
        
        </div>
    </div>
   
</div>

<div class="row">
    <div class="col-sm-12">
        <img src="img/LogoTMGrande.jpg">
        <img>        
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="middle-box text-center animated fadeInRightBig">
                <h3 class="font-bold">Criação Tela Sobre</h3>

                </div>
            </div>
        </div>
    </div>
