
<!--http://fiddle.jshell.net/ubenzer/9FSL4/8/-->


<style media="screen" type="text/css">

    .footable-row-detail-inner  {
        width: 100%;
    }

    .footable-row-detail-name {
        /*display: table-cell;*/ 
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding-left: 5px; 
        padding-top: 10px;
        width: 40px;
        height: 50%;
    }

    .btn {
        padding: 2px 10px;
        font-size: 12px;
    }
    
    .wizard > .steps > ul > li {
        width: 20%;
    }
    .p-lg {
    padding: 10px;
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 6px;
    text-decoration: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}


</style>

<div class="wrapper wrapper-content animated fadeInRight  inputcolor"   ng-controller="cadastroPaciente" style="padding-bottom: 0px;" >
    

    <div ng-include="'views/tmtelas/cadastro_paciente_busca_paciente.html'" ng-if="userDTO.cadastroPaciente.showBuscaPaciente"  ></div>

    <div class="row"  ng-hide="userDTO.cadastroPaciente.showBuscaPaciente" >
        <div class="col-lg-12">
            
            
            <div class="ibox">
                
                <div class="ibox-content wizard">
                    
                    <div class="steps clearfix">
                        
                        <ul>
                            <li>
                                <a   ng-click="goToStep('cadastrodepacientes')"  class="btn btn-danger  btn-outline" ><i class="fa fa-search "></i></a>
                            </li>
                            <li ui-sref-active="current">
                                <a    ui-sref="cadastrodepacientes.constroe_paciente" class="btn-default  text-center"> Paciente</a>
                            </li>
                            <li ui-sref-active="current">
                                <a  ui-sref="cadastrodepacientes.constroe_requisicao" class="btn-default  text-center"> Requisição</a>
                            </li>
                            <li ui-sref-active="current">
                                <a   ui-sref="cadastrodepacientes.dados_complementares" class="btn-default  text-center">Complementares</a>
                            </li>
                            <li ui-sref-active="current">
                                <a   ui-sref="cadastrodepacientes.inclue_exames" class="btn-default  text-center"> Exames</a>
                            </li>
                        </ul>
                    </div>
                    <div class="wizard">

                        <form name="signupForm" ng-submit="processForm()" class="p-lg">

                            <!-- telas nested serao incluidas aqui. -->
                            <div id="form-views" ui-view></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--    
        <div ng-include="'views/tmtelas/cadastro_paciente_constroe_paciente.html'" ng-if="userDTO.cadastroPaciente.showConstroePaciente"  ></div>
        <div ng-include="'views/tmtelas/cadastro_paciente_constroe_requisicao.html'" ng-if="userDTO.cadastroPaciente.showConstroeRequisicao"  ></div>
        <div ng-include="'views/tmtelas/cadastro_paciente_constroe_requisicao_dados_complementares.html'" ng-if="userDTO.cadastroPaciente.showConstroeRequisicaoDadosComplementares"  ></div>
        <div ng-include="'views/tmtelas/cadastro_paciente_constroe_requisicao_exames.html'" ng-if="userDTO.cadastroPaciente.showConstroeRequisicaoExames"  ></div>-->

    
</div>
