

<div class="wrapper wrapper-content animated fadeInRight"   ng-controller="consultaLaudos" >
    <div class="ibox-content">
        <div class="row">

            <div class="col-lg-12">
                <form name="consultalaudoform" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5  >Escolha o Filtro.</h5>
                            <!--<div ibox-tools></div>-->
                        </div>

                        <div class="row">

                            <div class="col-lg-2">
                                <div>
                                    <select    chosen id="unidade" class="chosen-select form-control "  tabindex="4" ng-model="userDTO.consultalaudo.unidadeId" >
                                        <option  ng-repeat=" u in userDTO.unidades" >{{u.UNI_ST_CODIGO}}-{{u.UNI_ST_DESCRICAO}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-2 ">
                                <input  name="REQ_ST_CODIGO" placeholder="Solicitação" type="text"  id="inputTextRequisicao"  class="form-control  text-primary" size="20" ng-model="userDTO.consultalaudo.requisicao"   ng-change="trocarVisualizacao('REQ_ST_CODIGO')"  enter-key="filtrar()"  
                                        ng-minlength="10" ng-maxlength="12"  >
                                <div role="alert " >
                                    <span class="error  has-error"   style="color: red;" ng-show="consultalaudoform.REQ_ST_CODIGO.$error.minlength">
                                        Muito curto  , menos de 10 </span>
                                    <span class="error"   style="color: red;" ng-show="consultalaudoform.REQ_ST_CODIGO.$error.maxlength">
                                        Muito longo, mais de 12 </span>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <input placeholder="Prontuário" type="text" id="inputTextProntuario"  class="form-control" size="20" ng-model="userDTO.consultalaudo.prontuario"  ng-change="trocarVisualizacao('PAC_ST_PRONTUARIO')"   enter-key="filtrar()" >
                            </div>

                            <div class="col-lg-2">
                                <input placeholder="Código SUS"  type="text" id="inputTextSUS"    class="form-control" size="20"  ng-model="userDTO.consultalaudo.sus"  ng-change="trocarVisualizacao('PAC_IN_CODSUS')"   enter-key="filtrar()" >
                            </div>

                            <div class="col-lg-4  "   >
                                <input  placeholder="Nome" type="text"   name="pacname"    id="inputTextNOME"   class="form-control  text-uppercase  has-error" size="40"  ng-change="trocarVisualizacao('PAC_ST_NOME')"   ng-model="userDTO.consultalaudo.nome"   enter-key="filtrar()"
                                        ng-minlength="10" ng-maxlength="100"    >
                                <div role="alert " >
                                    <span class="error  has-error"   style="color: red;" ng-show="consultalaudoform.pacname.$error.minlength">
                                        Muito curto</span>
                                    <span class="error"   style="color: red;" ng-show="consultalaudoform.pacname.$error.maxlength">
                                        Muito longo</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox float-e-margins">

                    <div class="row">
                        <div class="col-lg-2" >
                            <label   >Escolha a data da pesquisa:</label>
                        </div>

                        <div class="col-lg-4">
                            <!--<input date-range-picker class="form-control date-picker" type="text" ng-model="daterange" />-->
                            <!--<input date-range-picker id="daterange3" name="daterange3" class="form-control date-picker" type="text" ng-model="date"  options="opts" required    />-->
                            <form name="dateForm" class="form-horizontal" ng-class="{'has-error': dateForm.daterange2.$invalid}" >
                                <input  date-range-picker id="daterange"   name="daterange" class="form-control date-picker" type="text"  range="30"  min="'2016-01-01'" max="'2016-12-31'" options="opts"   ng-change="trocarVisualizacao('datas')"   ng-model="date" required   />
                                <div class="help-block" ng-messages="dateForm.daterange.$error">
                                    <p ng-message="min"> Data inicial está muito no passado.</p>
                                    <p ng-message="max">Data final é no futuro.</p>
                                    <p ng-message="required">Datas são necessárias.</p>
                                </div>
                            </form>
<!--                            <div class="form-group">
                                                                <label for="daterange3" class="control-label">Picker with custom locale</label>
                                <input date-range-picker id="daterange3" name="daterange3" class="form-control date-picker" type="text" ng-model="daterange"  options="opts" required/>
                            </div>-->
                        </div>


                        <!--                        <label  class="col-lg-1" >Data Inicio:</label>
                                                <div class="col-lg-2  b-r ">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" 
                                                               uib-datepicker-popup="{{userDTO.consultalaudo.format}}" 
                                                               ng-model="userDTO.consultalaudo.dtInicio" 
                                                               ng-change="calcRangeDate(true)"
                                                               is-open="popup.inicio" 
                                                               datepicker-options="userDTO.consultalaudo.dateOptionsMin" 
                                                               ng-required="true" 
                                                               close-text="Fechar" 
                                                               alt-input-formats="altInputFormats" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" 
                                                                    ng-click="openPopInicio()"><i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </p>
                                                </div>
                        
                                                <label class="col-lg-1" >Data Fim:</label>
                                                <div class="col-lg-2">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control"  
                                                               uib-datepicker-popup="{{userDTO.consultalaudo.format}}" 
                                                               ng-model="userDTO.consultalaudo.dtFim"
                                                               ng-change="calcRangeDate(false)"
                                                               is-open="popup.fim" 
                                                               datepicker-options="userDTO.consultalaudo.dateOptionsMax" 
                                                               ng-required="true" 
                                                               close-text="Fechar"  
                                                               alt-input-formats="altInputFormats" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default  " ng-click="openPopFim()">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </p>
                                                </div>-->

                        <div  class="col-lg-3">
                            <button class="btn btn-block  btn-outline  btn-danger full-width "   ng-disabled="btnGerador"  ng-click="limparTela()" >Limpar</button>
                        </div>

                        <div  class="col-lg-3">
                            <button class="btn btn-block  btn-outline  btn-primary full-width "   ng-disabled="btnGerador"  ng-click="filtrar()" >Filtrar</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="row">
            <div   style="background-color: #f0f5f5;"  class="col-lg-12"  ng-cloak="true"  ng-hide="userDTO.consultalaudo.requisicoes && userDTO.consultalaudo.requisicoes.length > 0"  >
                <div class="wrapper wrapper-content">
                    <div class=" text-center animated fadeInRightBig">
                        <h3 class="font-bold">Faça a sua pesquisa.</h3>

                        <div class="error-desc">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12"  ng-if="userDTO.consultalaudo.requisicoes && userDTO.consultalaudo.requisicoes.length > 0" >
                <div class="ibox-content"  style="padding: 15px 5px 20px 5px; min-height: 400px;" >
                    <table    datatable="ng" dt-options="dtOptionsMobile" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th><i class="fa fa-file-pdf-o" aria-hidden="true"></i></th>
                                <th><i class="fa fa-eye" aria-hidden="true"></i></th>
                                <th>Solicitação</th>
                                <th>Pront</th>
                                <th>S.U.S</th>
                                <th>Nome</th>
                                <th><i class="fa fa-venus-mars fa-1x"></i></th>
                                <th><i class="fa fa-calendar" aria-hidden="true"></i></th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr   ng-repeat="req in userDTO.consultalaudo.requisicoes track by $index "   >
                                <td  style="width: 10px;" > 
                                    <a class="fa fa-download  font-bold pull-right " style="padding-left: 5px;  "  ng-show="{{req.LEG_ST_CODIGO === '011'||  req.LEG_ST_CODIGO ===  '016' }} "    ng-click="montaURLLaudo(req.REQ_ST_CODIGO, req.LEG_ST_CODIGO, true)" >  
                                        <text  ng-hide="true" >{{req.LEG_ST_CODIGO}}</text>
                                    </a>
                                    <i class="fa fa-download  font-bold pull-right   "  style="color:red;"  ng-hide="{{req.LEG_ST_CODIGO === '011'||  req.LEG_ST_CODIGO ===  '016'  }} " ><text  ng-hide="true" >{{req.LEG_ST_CODIGO}}</text></i>
                                </td>
                                <td  style="width: 10px;" > 
                                    <a  style="padding-left: 5px;  "  ng-show="{{req.LEG_ST_CODIGO === '011'||  req.LEG_ST_CODIGO ===  '016'  }} "  class="fa fa-file-text-o  font-bold pull-right "  ng-click="montaURLLaudo(req.REQ_ST_CODIGO, req.LEG_ST_CODIGO, false)" > <text  ng-hide="true" >{{req.LEG_ST_CODIGO}}</text> </a>
                                    <i class="fa fa-file-text-o  font-bold pull-right   "  style="color:red;"  ng-hide="{{req.LEG_ST_CODIGO === '011'||  req.LEG_ST_CODIGO ===  '016'  }} " ><text  ng-hide="true" >{{req.LEG_ST_CODIGO}}</text></i>
                                </td>
                                <td style="width: 60px;"  >{{ req.REQ_ST_CODIGO}}
                                    <!--<md-tooltip md-direction="top">{{req.REQ_ST_CODIGO}}</md-tooltip>-->
                                </td>
                                <td style="width: 60px;"  >{{ req.PAC_ST_PRONTUARIO}}
                                </td>
                                <td style="width: 60px;"  >{{ req.PAC_IN_CODSUS}}
                                </td>
                                <td>  <div  ng-hide="true" >{{req.PAC_ST_NOME}}</div> {{ req.PAC_ST_NOME}}
                                    <!--                                      <md-tooltip md-direction="top">
                                                                            {{req.PAC_ST_NOME}}
                                                                          </md-tooltip>-->
                                </td>
                                <td  style="width: 10px;" >   <div  ng-hide="true" >{{req.PAC_ST_SEXO == 'M' ? 'masculino':'feminino'}}</div> <i  class="{{req.PAC_ST_SEXO == 'M' ? 'fa fa-mars fa-1x  text-primary sexo-masculino':'fa fa-venus fa-1x sexo-feminino '}}"   aria-hidden="true"></i>  </td>
                                <td style="width: 60px;" >{{  retornaDate(req.REQ_DT_CADASTRO) | date:'dd/MM/yyyy'}}</td>
                                <td style="width: 10px;" >{{req.LEG_ST_CODIGO| cutchars:1}}</td>
                            </tr>
                        </tbody>

                    </table>

                </div>

            </div>
        </div>


    </div>

</div>
