<a  ng-click="main.logOut()"  ><i class="fa fa-trash-o " style="position: absolute; margin-top: 5px;; margin-left: 95%"  ></i></a>
<div class="middle-box text-center loginscreen  animated fadeInDown  inputcolor"   >
    <div>
        <div   class="text-center"  >
            <img src="../../resources/img/logo_site.png"  height="120" width="250"  ><br>
            <!--<h1 class="logo-name-lisnet  text-uppercase "  style="font-size: 70px;" >{{main.userDTO.cliente.CLI_ST_CODIGO}}</h1>-->
        </div>
        <!--<p>Login in. To see it in action.</p>-->
        <form  name="loginform" >
        <div class="m-t" role="form"   >
            <div class="form-group">
                <!--<pre>inputLoginFocus: {{ inputLoginFocus }}</pre>-->
                <input     name="inputLogin" id="inputLogin" style="font-weight: bold;  "  size="20"  type="text" class="form-control text-uppercase  " placeholder="Usuário"   ng-model="login"    capitalize  focus="inputLoginFocus"  onkeypress="if(event.keyCode==13){   event.keyCode=9; return event.keyCode}" 
                           ng-minlength="3"  ng-maxlength="20"  maxlength="20"  ng-required="true" required="true" >
                            <div ng-messages="loginform.inputLogin.$error"  class="error-messages"  >
                                    <div   ng-messages-include="views/tmtelas/messages.html" ></div>
                         </div>
            </div>
            <div class="form-group" ng-hide="main.userDTO.showpassword"  >
                <input   name="inputPassord"  id="inputPassord" style="font-weight: bold;" type="password" class="form-control  text-uppercase" placeholder="Senha"   ng-model="senha"    enter-key="main.buscaUser(login,senha)"    capitalize 
                         ng-minlength="3"  ng-maxlength="20"  maxlength="20"  ng-required="true" required="true"  >
                 <div ng-messages="loginform.inputPassord.$error"  class="error-messages"  >
                                    <div   ng-messages-include="views/tmtelas/messages.html" ></div>
                  </div>
            </div>
             <div class="form-group"  ng-show="main.userDTO.showpassword"  >
                <input  name='inputPassordtxt' style="font-weight: bold;" type="text" class="form-control  text-uppercase" placeholder="Senha"    ng-model="senha"   enter-key="main.buscaUser(login,senha)"  capitalize  
                        ng-minlength="3"  ng-maxlength="20"  maxlength="20"     >
                <div ng-messages="loginform.inputPassordtxt.$error"  class="error-messages"  >
                                    <div   ng-messages-include="views/tmtelas/messages.html" ></div>
                  </div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-click="main.buscaUser(login,senha)"    >Login</button>
            <!--<input icheck type="checkbox" ng-model="main.userDTO.showpassword">-->
            
            <label> <input icheck type="checkbox" ng-model="main.userDTO.showpassword"> Mostra senha</label>
            
            <a ui-sref="login"><small>Esqueci minha senha?</small></a>
            <p class="text-muted text-center"><small>Você não é cadastrado?</small></p>
            <!--<a class="btn btn-sm btn-white btn-block"  ng-click="logOut()"  >Criar conta</a>-->
        </div>
     </form>
        <!--{{main.userDTO}}-->
        <p class="m-t"> <small class="text-capitalize"  >Lisnet &copy;  <a href="http://tminformatica.com.br/"  target="_blank" > TMInformárica </a> </small> | <strong  class="text-justify  text-uppercase" >{{main.userDTO.cliente.CLI_ST_CODIGO}}</strong> </p>
        <!--<p class="m-t"> <strong>{{main.userDTO.cliente.CLI_ST_CODIGO.toUpperCase()}}</strong> </p>-->
    </div>
    
    
    <script type="text/javascript">
//         document.getElementById('inputLogin').onkeypress = function (e) {
//        if (e.which === 13) {
//            document.getElementById("inputPassord").focus();
//            return false;
//        }
//    };


            $('input').on("keypress", function(e) {
            /* ENTER PRESSED*/
            if (e.keyCode == 13) {
                /* FOCUS ELEMENT */
                
                var inputs = $(this).parents("form").eq(0).find(":input");
                var idx = inputs.index(this);

                if (idx == inputs.length - 1) {
                    inputs[0].select()
                } else {
                    inputs[idx + 1].focus(); //  handles submit buttons
                    inputs[idx + 1].select();
                }
                return false;
            }
        });

    </script>
    
</div>