
<style media="screen" type="text/css">

    div.col-lg-2 {
        padding: 0 0 0 0px;
        margin: 0 0 0 0px;
    }
    div.col-lg-3 {
        padding: 0 0 0 0px;
        margin: 0 0 0 0px;
    }
    div.col-lg-9 {
        padding: 0 0 0 0px;
        margin: 0 0 0 0px;
    }
    .navbar-inverse {
        background-color: #203329;
        border-color: #080808;
    }
    

    
    @media (min-width: 350px) {
        .navbar-header {
            float: left;
        }
        .navbar-toggle {
            display: none;
        }
        .navbar-collapse {
            border-top: 0 none;
            box-shadow: none;
            width: auto;
        }
        .navbar-collapse.collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important;
        }
        .navbar-nav {
            float: left !important;
            margin: 0;
        }
        .navbar-nav>li {
            float: left;
        }
        .navbar-nav>li>a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    
</style>
<div class="wrapper wrapper-content animated fadeInRight  inputcolor"   ng-controller="monitorLaboratorio" style="padding-bottom: 0px;" >

    <div class="ibox-content" >
        <div class="row">

            <div class="col-lg-12">

                <div class="col-lg-2" >
                    <div class="col-lg-pull-3" >
                        <label for="daterangeMonitor" class="control-label">Data</label>
                    </div>
                    <div class="col-lg-pull-9" >
                        <input date-range-picker name="daterangeMonitor" 
                               id="daterangeMonitor" 
                               class="form-control date-picker ng-pristine ng-valid ng-isolate-scope ng-touched" 
                               type="text" 
                               ng-model="userDTO.configMonitorLaboratorio.data" 
                               options="{singleDatePicker: true,locale: {daysOfWeek: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril','Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro','Novembro', 'Desembro']}}"
                               required >
                    </div>

                </div>
                <hr class="hidden-lg" >    
                <div class="col-lg-3" >
                    <div class="col-lg-pull-3" >
                        <label for="inputunidade" class="control-label">Unidade</label>
                    </div>
                    <div class="col-lg-pull-9">
                        <select    chosen id="inputunidade" class="chosen-select form-control "  tabindex="4" ng-model="userDTO.configMonitorLaboratorio.unidade" >
                            <option selected  value="TODAS" >TODAS</option>
                            <option   value="{{u.UNI_ST_CODIGO}}" ng-repeat=" u in userDTO.unidades track by $index" >
                                {{u.UNI_ST_CODIGO}}-{{u.UNI_ST_DESCRICAO| cutchars:15}}
                            </option>
                        </select>
                    </div>
                </div>
                <hr class="hidden-lg" >    
                <div class="col-lg-3" >
                    <div class="col-lg-pull-3" >
                        <label for="inputunidadeEx" class="control-label">Unidade Ex</label>
                    </div>
                    <div class="col-lg-pull-8" >
                        <select    chosen id="inputunidadeEx" class="chosen-select form-control "  tabindex="4" ng-model="userDTO.configMonitorLaboratorio.unidadeEx" >
                            <option selected  value="TODAS"  >TODAS</option>
                            <option   value="{{u.UNI_ST_CODIGO}}" ng-repeat=" u in userDTO.unidades track by $index" >
                                {{u.UNI_ST_CODIGO}}-{{u.UNI_ST_DESCRICAO| cutchars:15}}
                            </option>
                        </select>
                    </div>

                </div>

                <hr class="hidden-lg" >    

                <div class="col-lg-2" >

                    <div class="col-xs-12" >

                        <div class="col-xs-3" >
                            <label for="inputurgente" class="control-label">Urgente</label>    
                            <div style="padding-top: 7px;" >
                                <input     id="inputurgente" icheck type="checkbox" ng-model="userDTO.configMonitorLaboratorio.urgente">
                            </div>
                        </div>

                        <div class="col-xs-2" style="padding-top: 25px;"  >
                            <button class="btn btn-outline  btn-success  btn-rounded  "   ng-click="atualizar()"   >&nbsp;Atualizar&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>


        </div>
    </div>
    <div class="ibox-content"  >


        <div class="row"  style="height: 60%" >
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="height: 53px;" >
                        
                        <h5>
                            Resumo Procedimentos
                            <small>em </small><strong class="text-primary font-bold  "  style="color: #003bb3"  ng-class="grabCSS('resumoProcedimentos')"    >{{userDTO.configMonitorLaboratorio.resumoProcedimentos.data | date : 'dd/MM/yyyy'}} </strong>
                            <small><strong>Total: {{userDTO.configMonitorLaboratorio.resumoProcedimentos.total}} </strong></small>
                        </h5>
                        <a  ng-if="userDTO.configMonitorLaboratorio.resumoProcedimentos.loading"   class="fa fa-circle-o-notch  fa-2x  fa-spin"  style="padding-left: 10px;  z-index: 2;"   aria-hidden="true"></a>
                        <!--<div ibox-tools></div>-->
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas  ng-if="userDTO.configMonitorLaboratorio.resumoProcedimentos.blink"  linechart options="userDTO.configMonitorLaboratorio.lineOptions" data="userDTO.configMonitorLaboratorio.lineDataResumoProcedimentos"  height="100"  width="100"  responsive=true ></canvas>

                            <nav  id="cssmenu" class="navbar navbar-inverse "  ng-if="userDTO.configMonitorLaboratorio.resumoProcedimentos.blink" >
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand fa fa-backward" aria-hidden="true"  ng-click="shiftDate(false,'resumoProcedimentos')  "  ></a>
                                    </div>
                                    <ul class="nav navbar-nav">
                                        <li  ng-class="{ active: isActive(f,'resumoProcedimentos')} "  ng-repeat="f in filtros"    > <a ng-click="escolhePeriodo(f, 'resumoProcedimentos')"    class="font-bold text-danger" >   {{f}}</a> </li>
                                    </ul>
                                    
                                    <div class="navbar-footer pull-right ">
                                        <a class="navbar-brand fa fa-forward" aria-hidden="true"     ng-click="shiftDate(true,'resumoProcedimentos')" ></a>
                                    </div>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="height: 53px;" >
                        
                        <h5>
                            Resumo Pacientes
                            <small>em </small><strong class="text-primary font-bold  "  style="color: #003bb3"  ng-class="grabCSS('resumoPacientes')"    >{{userDTO.configMonitorLaboratorio.resumoPacientes.data | date : 'dd/MM/yyyy'}} </strong>
                            <small><strong>Total: {{userDTO.configMonitorLaboratorio.resumoPacientes.total}} </strong></small>
                        </h5>
                        <a  ng-if="userDTO.configMonitorLaboratorio.resumoPacientes.loading"   style="padding-left: 10px;  z-index: 2;"   class="fa fa-circle-o-notch  fa-2x  fa-spin" aria-hidden="true"></a>
                        <!--<div ibox-tools></div>-->
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas  ng-if="userDTO.configMonitorLaboratorio.resumoPacientes.blink" barchart options="userDTO.configMonitorLaboratorio.barOptions" data="userDTO.configMonitorLaboratorio.barDataPacientes"  height="100"  width="100"  responsive=true ></canvas>
                            <nav class="navbar navbar-inverse" ng-if="userDTO.configMonitorLaboratorio.resumoPacientes.blink" >
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand fa fa-backward" aria-hidden="true"  ng-click="shiftDate(false,'resumoPacientes')  "  ></a>
                                    </div>
                                    <ul class="nav navbar-nav">
                                        <li  ng-class="{ active: isActive(f,'resumoPacientes')} "  ng-repeat="f in filtros"    > <a ng-click="escolhePeriodo(f, 'resumoPacientes')"    class="font-bold text-danger" >   {{f}}</a> </li>
                                    </ul>
                                    
                                    <div class="navbar-footer pull-right ">
                                        <a class="navbar-brand fa fa-forward" aria-hidden="true"     ng-click="shiftDate(true,'resumoPacientes')" ></a>
                                    </div>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="height: 53px;" >
                        
                        <h5>
                            Faturamento Estimado
                            <small>em </small><strong class="text-primary font-bold  "  style="color: #003bb3"  ng-class="grabCSS('faturamentoEstimado')"    >{{userDTO.configMonitorLaboratorio.faturamentoEstimado.data | date : 'dd/MM/yyyy'}} </strong>
                            <small><strong> Total : {{ userDTO.configMonitorLaboratorio.faturamentoEstimado.total | currency : symbol : fractionSize}}  </strong></small>
                        </h5>
                        <a  ng-if="userDTO.configMonitorLaboratorio.faturamentoEstimado.loading"  style="padding-left: 10px;  z-index: 2;"  class="fa fa-circle-o-notch  fa-2x  fa-spin" aria-hidden="true"></a>
                        <!--<div ibox-tools></div>-->
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas ng-if="userDTO.configMonitorLaboratorio.faturamentoEstimado.blink"   barchart options="userDTO.configMonitorLaboratorio.barOptions" data="userDTO.configMonitorLaboratorio.barDataFaturamento"  height="100"  width="100"  responsive=true ></canvas>
                            <nav class="navbar navbar-inverse"  ng-if="userDTO.configMonitorLaboratorio.faturamentoEstimado.blink" >
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand fa fa-backward" aria-hidden="true"  ng-click="shiftDate(false,'faturamentoEstimado')  "  ></a>
                                    </div>
                                    <ul class="nav navbar-nav">
                                        <li  ng-class="{ active: isActive(f,'faturamentoEstimado')} "  ng-repeat="f in filtros"    > <a ng-click="escolhePeriodo(f, 'faturamentoEstimado')"    class="font-bold text-danger" >   {{f}}</a> </li>
                                    </ul>
                                    
                                    <div class="navbar-footer pull-right ">
                                        <a class="navbar-brand fa fa-forward" aria-hidden="true"     ng-click="shiftDate(true,'faturamentoEstimado')" ></a>
                                    </div>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
