
<style media="screen" type="text/css">

    div.col-lg-2 {
        padding: 0 0 0 0px;
        margin: 0 0 0 0px;
    }
    div.col-lg-3 {
        padding: 0 0 0 0px;
        margin: 0 0 0 0px;
    }
    div.col-lg-9 {
        padding: 0 0 0 0px;
        margin: 0 0 0 0px;
    }
    .navbar-inverse {
        background-color: #203329;
        border-color: #080808;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight  inputcolor"   ng-controller="monitorLaboratorio" style="padding-bottom: 0px;" >

    <div class="ibox-content" >
        <div class="row">

            <div class="col-lg-12">

                <div class="col-lg-2" >
                    <div class="col-lg-pull-3" >
                        <label for="daterangeMonitor" class="control-label">Data</label>
                    </div>
                    <div class="col-lg-pull-9" >
                        <input date-range-picker name="daterangeMonitor" 
                               id="daterangeMonitor" 
                               class="form-control date-picker ng-pristine ng-valid ng-isolate-scope ng-touched" 
                               type="text" 
                               ng-model="userDTO.configMonitorLaboratorio.data" 
                               options="{singleDatePicker: true,locale: {daysOfWeek: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril','Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro','Novembro', 'Desembro']}}"
                               required >
                    </div>

                </div>
                <hr class="hidden-lg" >    
                <div class="col-lg-3" >
                    <div class="col-lg-pull-3" >
                        <label for="inputunidade" class="control-label">Unidade</label>
                    </div>
                    <div class="col-lg-pull-9">
                        <select    chosen id="inputunidade" class="chosen-select form-control "  tabindex="4" ng-model="userDTO.configMonitorLaboratorio.unidade" >
                            <option selected  >TODAS</option>
                            <option  ng-repeat=" u in userDTO.unidades track by $index" >
                                {{u.UNI_ST_CODIGO}}-{{u.UNI_ST_DESCRICAO| cutchars:15}}
                            </option>
                        </select>
                    </div>
                </div>
                <hr class="hidden-lg" >    
                <div class="col-lg-3" >
                    <div class="col-lg-pull-3" >
                        <label for="inputunidadeEx" class="control-label">Unidade Ex</label>
                    </div>
                    <div class="col-lg-pull-8" >
                        <select    chosen id="inputunidadeEx" class="chosen-select form-control "  tabindex="4" ng-model="userDTO.configMonitorLaboratorio.unidadeEx" >
                            <option selected  >TODAS</option>
                            <option  ng-repeat=" u in userDTO.unidades track by $index" >
                                {{u.UNI_ST_CODIGO}}-{{u.UNI_ST_DESCRICAO| cutchars:15}}
                            </option>
                        </select>
                    </div>

                </div>

                <hr class="hidden-lg" >    

                <div class="col-lg-2" >

                    <div class="col-xs-12" >

                        <div class="col-xs-3" >
                            <label for="inputurgente" class="control-label">Urgente</label>    
                            <div style="padding-top: 7px;" >
                                <input     id="inputurgente" icheck type="checkbox" ng-model="userDTO.configMonitorLaboratorio.URGENTE">
                            </div>
                        </div>

                        <div class="col-xs-2" style="padding-top: 25px;"  >
                            <button class="btn btn-outline  btn-success  btn-rounded  "    >&nbsp;Filtrar&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>


        </div>
    </div>
    <div class="ibox-content">


        <div class="row">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Resumo Procedimentos
                            <small class="text-primary font-bold " >em 03/05/2016.</small>
                            <small><strong>329 </strong>Total.</small>
                        </h5>
                        <!--<div ibox-tools></div>-->
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas linechart options="userDTO.configMonitorLaboratorio.lineOptions" data="userDTO.configMonitorLaboratorio.lineData" height="140" responsive=true ></canvas>


                            <nav class="navbar navbar-inverse">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand fa fa-backward" aria-hidden="true" ></a>
                                    </div>
                                    <ul class="nav navbar-nav">
                                        <li  ng-repeat="f in filtros track by $index " ng-if="$index === 0" class="active"   > <a ng-click="escolhePeriodo(f, 'resumoProcedimentos')"    class="font-bold text-danger" >   {{f}}</a> </li>
                                        <li  ng-repeat="f in filtros" ng-if="$index !== 0"   > <a ng-click="escolhePeriodo(f, 'resumoProcedimentos')"    class="font-bold text-danger" >   {{f}}</a> </li>
                                    </ul>
                                    <div class="navbar-footer pull-right ">
                                        <a class="navbar-brand fa fa-forward" aria-hidden="true" ></a>
                                    </div>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Resumo Pacientes
                            <small class="text-primary font-bold " >em 03/05/2016.</small>
                            <small><strong>31 </strong>Total.</small>
                        </h5>
                        <!--<div ibox-tools></div>-->
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas barchart options="userDTO.configMonitorLaboratorio.barOptions" data="userDTO.configMonitorLaboratorio.barData" height="140" responsive=true ></canvas>
                            <nav class="navbar navbar-inverse">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand fa fa-backward" aria-hidden="true" ></a>
                                    </div>
                                    <ul class="nav navbar-nav">
                                        <li  ng-repeat="f in filtros track by $index " ng-if="$index === 0" class="active"   > <a ng-click="escolhePeriodo(f, 'resumoProcedimentos')"    class="font-bold text-danger" >   {{f}}</a> </li>
                                        <li  ng-repeat="f in filtros" ng-if="$index !== 0"   > <a ng-click="escolhePeriodo(f, 'resumoProcedimentos')"    class="font-bold text-danger" >   {{f}}</a> </li>
                                    </ul>
                                    <div class="navbar-footer pull-right ">
                                        <a class="navbar-brand fa fa-forward" aria-hidden="true" ></a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Faturamento Estimado
                            <small class="text-primary font-bold " >em 03/05/2016.</small>
                            <strong class="font-bold text-justify" >R$ 23,80 Total.</strong>
                        </h5>
                        <!--<div ibox-tools></div>-->
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas barchart options="userDTO.configMonitorLaboratorio.barOptions" data="userDTO.configMonitorLaboratorio.barData" height="140" responsive=true ></canvas>
                            <nav class="navbar navbar-inverse">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand fa fa-backward" aria-hidden="true" ></a>
                                    </div>
                                    <ul class="nav navbar-nav">
                                        <li  ng-repeat="f in filtros track by $index " ng-if="$index === 0" class="active"   > <a ng-click="escolhePeriodo(f, 'resumoProcedimentos')"    class="font-bold text-danger" >   {{f}}</a> </li>
                                        <li  ng-repeat="f in filtros" ng-if="$index !== 0"   > <a ng-click="escolhePeriodo(f, 'resumoProcedimentos')"    class="font-bold text-danger" >   {{f}}</a> </li>
                                    </ul>
                                    <div class="navbar-footer pull-right ">
                                        <a class="navbar-brand fa fa-forward" aria-hidden="true" ></a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
