
<!--https://scotch.io/tutorials/angularjs-form-validation
https://demos.scotch.io/angular-validation/demos/-->

<div class="row wrapper border-bottom white-bg page-heading"  >
    <div class="col-lg-10" ng-controller="telaPadrao" >
        <h2>{{moduloPadrao.state.data.pageTitle}}</h2>
        <ol class="breadcrumb">
            <li>
                <a   ng-click="main.stateGO('widgets.lisnet')" >Home</a>
            </li>
            <li>
                <a>Relatório</a>
            </li>
            <li class="active">
                <strong>{{moduloPadrao.state.data.pageTitle}}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"   >

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight"   ng-controller="relatorioUnidadeConvenio" >
    <div class="ibox-content">
            Test

    </div>
    
    
</div>
