<!--https://scotch.io/tutorials/angularjs-form-validation
https://demos.scotch.io/angular-validation/demos/-->



<div class="wrapper wrapper-content animated fadeInRight"   ng-controller="relatorioUnidadeConvenio">
    <div class="ibox-content">
        <div class="row"

             <div class="col-lg-12">
                <form name="consultalaudoform" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5  >Escolha o Filtro.</h5>
                            <!--<div ibox-tools></div>-->
                        </div>

                        <div class="row"
                             
                             
                        <div class="col-lg-3">
                            <input icheck type="checkbox" ng-model="userDTO.relatorio-unidade-convenio.faturado">
                            <label>Faturado</label>
                        </div>

                             <div class="switch">
                                Faturado
                                <input type="checkbox">
                                <div class="slider round"></div>
                            </div>

                            <div class="switch">
                                Conferido
                                <input type="checkbox">
                                <div class="slider round"></div>
                            </div>

                            <div class="switch">
                                Não Conferido
                                <input type="checkbox">
                                <div class="slider round"></div>
                            </div>


                        </div>
                    </div>


            </div>
        </div>


