<div class="middle-box text-center animated fadeInDown">
    <!--<h1>Em construção</h1>-->
    <!--<h1 class="underconstruction-lisnet " style="font-size: 40px;"  >Esta tela não existe ...</h1>-->
    <div >
        <form class="form-inline m-t" role="form"   >
            <div class="row" >
                <div  class="col-lg-12" >
                    <image ng-src="./img/404-page-not-found.png"   align="left" />
                </div>
                                
            </div>
            
        </form>
    </div>
</div>