
<!--https://scotch.io/tutorials/angularjs-form-validation
https://demos.scotch.io/angular-validation/demos/-->

<div class="wrapper wrapper-content animated fadeInRight  inputcolor"   ng-controller="telaPadrao" >
    <div class="ibox-content">
        <!--{{moduloPadrao}}-->
        
        <div class="row">

            <div class="col-lg-12"  ng-cloak >

                <div class="ibox float-e-margins">

                    <div class="row">

                        <div class="col-lg-2" style="padding-bottom: 5px; " >
                            <select    chosen id="pesquisas" class="chosen-select form-control "  tabindex="4" ng-model="moduloPadrao.entidade.pesquisaTipo" >
                                <option   value="0"   selected >Semelhante</option>
                                <option  value="1" >Começa</option>
                                <option  value="2" >Exatamente</option>
                            </select>
                        </div>

                        <div class="col-lg-2"  style="padding-bottom: 5px; ">
                            <select    chosen id="pesquisas" class="chosen-select form-control "  tabindex="4" ng-model="moduloPadrao.entidade.pesquisa" >
                                <option  ng-repeat=" p in moduloPadrao.entidade.pesquisas" >{{p.nome}}</option>
                            </select>
                        </div>



                        <div class="col-lg-2  "  style="padding-bottom: 5px; " >
                            <input   placeholder="Campos de Pesquisa" type="text"  id="inputTextRequisicao"  class="form-control  text-primary  " size="20" ng-model="moduloPadrao.entidade.pesquisaInput"   enter-key="buscar(true)"   ng-maxlength="300"  >
                        </div>

                        <div class="col-lg-2"  >
                            <div  class="col-sm-6"  style="padding: 0px 3px 0px 0px;" >
                                <button class="btn btn-block  btn-outline  btn-success   full-width "     ng-click="buscar(true)"  ng-disabled="!paramsStateConfig.btnFiltrar" >Filtrar</button>
                            </div>
                            <div  class="col-sm-6"  style="padding: 0px 0px 0px 3px;" >
                                <button class="btn btn-block  btn-outline  btn-info  full-width "   ng-click="criarNovoRegistro()"   ng-disabled="!paramsStateConfig.btnCriar" ><i  style="color: orange;" class="fa fa-star-o"></i>&nbsp;Criar&nbsp;</button>
                            </div>
                        </div>

                        <div  class="col-lg-2">
                            <button class="btn btn-block  btn-outline  btn-danger  full-width "    ng-click="limparTela()"   >Limpar</button>
                        </div>
                        <div  class="col-lg-2">
                            <button class="btn btn-block  btn-outline  btn-primary full-width "     ng-click="buscar(false)"  ng-disabled="!paramsStateConfig.btnTodos"  data-toggle="tooltip"    title="Limite de pesquisa para esta tela é de {{paramsStateConfig.limit}} itens"    >Buscar Todos</button>
                        </div>

                    </div>

                </div>

            </div>
            <div   style="background-color: #f0f5f5;"  class="col-lg-12"  ng-cloak="true"  ng-hide="moduloPadrao.entidade.entidades && moduloPadrao.entidade.entidades.length > 0"  >
                <div class="wrapper wrapper-content">
                    <div class=" text-center animated fadeInRightBig">
                        <h3 class="font-bold">{{moduloPadrao.msgBusca}}</h3>

                        <div class="error-desc">
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12"  ng-cloak="true"  ng-if="moduloPadrao.entidade.entidades && moduloPadrao.entidade.entidades.length > 0"  >
                <div class="ibox-content"  style="padding: 15px 5px 20px 5px; min-height: 400px;" >
                    <table   datatable="ng" dt-options="dTOptionsBuilder" class="table table-striped table-bordered table-hover dataTables-example"  ng-cloak >
                        <thead>
                            <tr  >
                                <th  ></th>
                                   <!--style=" width: {{moduloPadrao.entidade.colunas[$index - 1].tamanho}}"-->
                                <th ng-repeat="col in :: moduloPadrao.entidade.colunas  track by $index"    >
                                    {{col.nome}}
                                </th>
                                
                                <!--<th style="display: none;  width: 1px; "    ></th>-->
                            </tr>
                        </thead>
                        <tbody>

                            <tr   ng-repeat="ent in moduloPadrao.entidade.entidades  track by $index"    >
                                <!--ng-style="{{ moduloPadrao.entidade.colunas[$index - 1].tamanho? 'width:'moduloPadrao.entidade.colunas[$index - 1].tamanho'.px;' : 'width:10px;' }}"-->   
                                <td   ng-repeat="e in ent track by $index "  > 
                                    <form name="{{ent[0].id}}"  novalidate >

                                    <div ng-if="$index === 0" >
                                        
                                        <div >

                                            <i   ng-if="ent[0].status === 'R'  " style="{{ent[0].ngStyle}} ; padding-right: 6px;"  class="{{ent[0].ngClass}}"   aria-hidden="true"    ng-click="manipulaEntidade(ent,'editar')"     data-toggle="tooltip" title="{{ent[0].toolTip}}"  ></i>
                                            <i   ng-if="ent[0].status === 'D'  || ent[0].status === 'C'  "  style="color: red; font-weight: bold; padding-right: 6px;"  class="fa fa-times"   aria-hidden="true"    ng-click="manipulaEntidade(ent,'excluir')"     data-toggle="tooltip" title="excluir linha ?"  ></i>
                                            <i   ng-if="ent[0].status === 'D'  || ent[0].status === 'U' "  style="color:green ; padding-right: 6px;"  class="fa fa-backward"   aria-hidden="true"    ng-click="manipulaEntidade(ent,'desfazer')"     data-toggle="tooltip" title="reverter alterações ?"  ></i>
                                            <i   ng-disabled="entidadeForm.$invalid"  ng-if="ent[0].status === 'U'  || ent[0].status === 'C' "  style="color: #000\9 ; font-weight: bold;"   class="fa fa-clipboard"   aria-hidden="true"    ng-click="manipulaEntidade(ent,'salvar')"     data-toggle="tooltip" title="salvar alterações ?"  ></i>
                                            <span uib-dropdown   ng-if="ent[0].status === 'R' "  >
                                                <span class="count-info" href uib-dropdown-toggle   >
                                                    <span class="glyphicon glyphicon-option-vertical"></span>
                                                </span>
                                                <ul class="dropdown-alerts" uib-dropdown-menu    >
                                                    <li   style="font-weight: bold;   font-style: italic;"  >  Ações</li>
                                                    <li class="divider"></li>
                                                    <li   style="font-weight: bold;"  ng-click="manipulaEntidade(ent,'editar')"   ><i  class="fa fa-pencil"   style="color: red; font-weight: bold; color: #003bb3; "  ></i>  Editar</li>
                                                    <li   class="divider"></li>
                                                    <li   ng-if="ent[0].status !== 'C'  && ent[0].status !== 'R' " style=" font-weight: bold;"  ng-click="manipulaEntidade(ent,'desfazer')" ><i  class="fa fa-backward"   style="color: red; font-weight: bold; color: #170;"  ></i>  Desfazer</li>
                                                    <li  ng-if="ent[0].status !== 'C'  && ent[0].status !== 'R' "  class="divider"></li>
                                                    <li   ng-if="ent[0].status !== 'D' "    ng-click="manipulaEntidade(ent,'excluir')" ><i  class="fa fa-times"   style="color: red; font-weight: bold;"  ></i>  Excluir</li>
                                                    <li  ng-if="ent[0].status !== 'R'  "  class="divider"></li>
                                                    <li   style="font-weight: bold;"   ng-if="ent[0].status !== 'R'  " ng-click="manipulaEntidade(ent,'salvar')"   ><i  class="fa fa-clipboard"   style="color: #163758 ; font-weight: bold;"  ></i>  Salvar</li>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>

                                        <div ng-if="$index > 0  && $index " >
                                        
                                        <!--String & Chars-->
                                        <span ng-if="moduloPadrao.entidade.colunas[$index - 1].tipo === 'C'  || moduloPadrao.entidade.colunas[$index - 1].tipo === 'N'" >
                                            <span  ng-if="moduloPadrao.entidade.colunas[$index - 1].componente === 'E'">
                                                <span ng-if="!ent[0].editavel ||  (moduloPadrao.entidade.colunas[$index - 1].chave === 'S' && ent[0].status !== 'C')  " >
                                                    {{e}}
                                                </span>
                                                <span  class="form-group" ng-if="ent[0].editavel && moduloPadrao.entidade.colunas[$index - 1].chave !== 'S' || (moduloPadrao.entidade.colunas[$index - 1].chave === 'S' && ent[0].status === 'C') " >
                                                    <span ng-if="moduloPadrao.entidade.colunas[$index - 1].tipo === 'C' " >
                                                        <input  autocomplete="off"  size="{{moduloPadrao.entidade.colunas[$index - 1].tamanho  }}"  name="{{moduloPadrao.entidade.colunas[$index - 1].nome }}"  
                                                                style=" min-width: 50px;   width: {{moduloPadrao.entidade.colunas[$index - 1].tamanho * 4 }}px ; "
                                                                placeholder="{{moduloPadrao.entidade.colunas[$index - 1].nome }}"    
                                                                ng-change="mudarStatus(ent,$parent.$index, $index)"     class="form-control  text-primary inputcolor "    
                                                                required="{{moduloPadrao.entidade.colunas[$index - 1].obrigatorio === 'S' }}"  
                                                                ng-minlength="{{moduloPadrao.entidade.colunas[$index - 1].obrigatorio === 'S'?1:0 }}" ng-maxlength="{{moduloPadrao.entidade.colunas[$index - 1].obrigatorio}}"   
                                                                ng-model="ent[$index]"   >
                                                        <!--<p ng-show="{{ent[0].id}}entidadeForm.{{moduloPadrao.entidade.colunas[$index - 1].nome }}.$invalid && !{{ent[0].id}}entidadeForm.{{moduloPadrao.entidade.colunas[$index - 1].nome }}.$pristine" class="help-block">O Campo {{moduloPadrao.entidade.colunas[$index - 1].nome }} é obrigatório.</p>-->
                                                    </span>
                                                    <span ng-if="moduloPadrao.entidade.colunas[$index - 1].tipo === 'N' " >
                                                        <input   autocomplete="off"   type="number"   style="width: {{moduloPadrao.entidade.colunas[$index - 1].tamanho * 4 }}px"  ng-change="mudarStatus(ent,$parent.$index, $index)"   name="{{moduloPadrao.entidade.colunas[$index - 1].nome }}"     
                                                                  class="form-control  text-primary inputcolor "   required="{{moduloPadrao.entidade.colunas[$index - 1].obrigatorio === 'S' }}"  ng-model="ent[$index]"  >
                                                    </span>
                                                </span>
                                            </span>
                                            <span  ng-if="moduloPadrao.entidade.colunas[$index - 1].componente === 'C'">
                                                <!--{{e}}-->
                                                <input      icheck type="checkbox"  ng-disabled="!ent[0].editavel  "  
                                                            ng-model="ent[$index]"   ng-change="mudarStatus(ent,$parent.$index, $index)"  
                                                            required="{{moduloPadrao.entidade.colunas[$index - 1].obrigatorio === 'S' }}"  >
                                            </span>
                                        </span>
                                        
                                          <!--Data & Hora-->
                                        <span ng-if="moduloPadrao.entidade.colunas[$index - 1].tipo === 'D'" >
                                            <span  ng-if="(moduloPadrao.entidade.colunas[$index - 1].coluna.indexOf('_DT_') !== -1)">
                                                <spa ng-if="!ent[0].editavel" >
                                                    {{e| date  : 'dd/MM/yyyy'}}
                                                </spa>
                                                <spa ng-if="ent[0].editavel" >
<!--                                                    {{  ent.popup.fim = false;  ent.openPopFim = function () {ent.popup.fim = true;};}}-->
                                                    <p class="input-group" style="width: 140px;" >
                                                        <input   type="text" class="form-control"  
                                                             uib-datepicker-popup="dd/MM/yyyy" 
                                                             ng-model="ent[$index]"
                                                             ng-change="mudarStatus(ent,$parent.$index, $index)"  
                                                             is-open="ent[0].dataPicker[$index]" 
                                                             datepicker-options="dateOptions" 
                                                             close-text="Fechar"  
                                                             alt-input-formats="['MM/dd/yyyy']" 
                                                             required="{{moduloPadrao.entidade.colunas[$index - 1].obrigatorio === 'S' }}" />
                                                      <span class="input-group-btn">
                                                          <button type="button" class="btn btn-default  " ng-click="opeDataPicker(ent,$index)">
                                                              <i class="glyphicon glyphicon-calendar"></i>
                                                          </button>
                                                      </span>
                                                  </p>
                                                </spa>
                                            </span>
                                            <span  ng-if="(moduloPadrao.entidade.colunas[$index - 1].coluna.indexOf('_HR_') !== -1)">
                                                <spa ng-if="!ent[0].editavel" >
                                                    {{e| date  : 'HH:mm'}}
                                                </spa>
                                                <spa ng-if="ent[0].editavel" >
                                                    <!--<input type="datetime-local" id="exampleInput" name="input" ng-model="e" placeholder="HH:mm:ss"   required />-->
                                                    <p class="input-group date">
                                                        <uib-timepicker ng-model="ent[$index]" ng-change="mudarStatus(ent,$parent.$index, $index)"    hour-step="1" minute-step="1" datetimepicker-neutral-timezone  required="{{moduloPadrao.entidade.colunas[$index - 1].obrigatorio === 'S' }}" ></uib-timepicker>
                                                  </p>
                                                </spa>
                                            </span>
                                        </span>

                                    </div>

                                    </form>
                                </td>

                            </tr>
                        </tbody>

                    </table>

                </div>

            </div>
            
        </div>

    </div>
    
    
</div>
