
<div class="geslab-site">

    <div class="geslab-site navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div>
                        <img id="logo" src="views/geslab/LogoGL.png" alt="GesLab" >
                    </div>
                    <!--<a class="navbar-brand" ui-sref="dashboards.dashboard_1">WEBAPPLAYERS</a>-->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a class="page-scroll" page-scroll href="#page-top" style="color: gray" >HOME</a></li>
                        <li><a class="page-scroll" page-scroll href="#features">LISNET</a></li>
                        <li><a class="page-scroll" page-scroll href="#team">SERVIÇOS</a></li>
                        <li><a class="page-scroll" page-scroll href="#pricing">CLIENTES</a></li>
                        <li><a class="page-scroll" page-scroll href="#contact">CONTATO</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div id="inSlider" class="geslab-site  carousel slide carousel-fade" data-ride="carousel" ng-non-bindable>
        <ol class="carousel-indicators">
            <li data-target="inSlider" data-slide-to="0" class="active"></li>
            <li data-target="inSlider" data-slide-to="1"></li>
            <li data-target="inSlider" data-slide-to="2"></li>
            <li data-target="inSlider" data-slide-to="3"></li>
            <li data-target="inSlider" data-slide-to="4"></li>
        </ol>

        <br>

        <div class="carousel-inner" role="listbox">
            <div class="item active">


                <div class="carousel-caption" style="padding-left: 3%">
                    <h2 style="color: white"><b>Mais controle em suas mãos<br/>
                            Operações com apenas um clique<br/>
                            Mais interatividade com seus pacientes<br/></b> 
                    </h2>


                    <div class="carousel-caption">
                    </div>
                </div>

                <!-- Set background for slide in css -->
                <div class="header-back one"></div>


            </div>


            <div class="item">

                <div class="carousel-caption" style="padding-left: 3%">
                    <h2 style="color: white"><b>Soluções inovadoras <br/>
                            Suporte e interatividade<br/>
                            Parceria no desenvolvimento<br/></b> 
                    </h2>

                    <div class="carousel-caption">
                    </div>
                </div>

                <!-- Set background for slide in css -->
                <div class="header-back two"></div>

            </div>

            <div class="item">

                <div class="carousel-caption" style="padding-left: 3%">
                    <h2 style="color: white"><b>Modulo de médico integrado<br/>
                            Consulta Resultado WEB<br/>
                            Relatorios Dinamicos<br/></b> 
                    </h2>

                    <div class="carousel-caption">
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back three"></div>
            </div>

            <div class="item">

                <div class="carousel-caption" style="padding-left: 3%">
                    <h2 style="color: white"><b>Banco de Dados<br/>
                            Servidores de aplicação<br/>
                            Programas de Apoio<br/>
                            Tudo On tle cloud<br/></b> 
                    </h2>

                    <div class="carousel-caption">
                    </div>
                </div>

                <!-- Set background for slide in css -->
                <div class="header-back four"></div>
            </div>

            <div class="item">
                <!-- Set background for slide in css -->
                <div class="header-back five"></div>
            </div>

        </div>

        <a class="left carousel-control" data-target="#inSlider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-target="#inSlider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <section id="features" class="container services">

        <div class="row">
            <div class="col-lg-12 text-center">

                <h1 style="text-align: center; font-size: 50px;" >Lisnet</h1>
            </div>
        </div>

        <div class="row features-block">

            <div class="col-lg-6 text-right wow fadeInLeft">
                <img src="views/geslab/nuvem.png" alt="dashboard" class="img-responsive pull-right">
            </div>

            <div class="col-lg-6 features-text wow fadeInRight">
                <p style="text-align: justify">Lisnet sistema de informação de gestão e serviços ao diagnóstico. Sendo, um poderoso LIS (Laboratory Information System), desenvolvido para atender todas as necessidades dos laboratórios de Análises Clínicas nos mais variados perfis e abrangência. 
                    A riqueza de funcionalidades e a solidez de seus conceitos foram características fundamentais para o sucesso da informatização de diversos serviços públicos e privados, hospitalares e ambulatoriais, assim como laboratórios de apoio, redes de laboratórios, e bancos de sangue.
                    A característica principal do LISNet é a mobilidade, com seu funcionamento em nuvens (Cloud-Computing), o acesso ao sistema é através da internet, ou seja o cliente poderá instalar o aplicativo em seu computador portátil ou em seu desktop em casa ou na clínica e ter acesso ao sistema com todas as suas funcionalidades 24 horas por dia mesmo fora do laboratório, bastando ter conexão com a internet, sendo ela 3G, Wi-Fi ou banda larga.                               
                </p>
            </div>
    </section>

<br>
<br>
<br>

<section  class="container features">
    
    <div class="row">
        <div class="col-lg-12 text-center">
            
            <h1>Explore suas Expectativas</h1>
        </div>
    </div>
    
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            
            <h2>Informações integradas entre sistemas e agilidade nas ações com funcionalidades em poucos cliques.</h2>
            <p style="text-align: justify">Contando com inúmeras possibilidades de configurações e mais versatilidade em integrações com outros sistemas especializados em gestão hospitalar e gestão de saúde pública; laudos assinados com certificação digital por "GESLAB Sistemas Intermediate".</p>
           
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="views/geslab/telaConsulta.jpg" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12 text-center">

            <h1>Impressione seus Clientes</h1>
        </div>
    </div>
    
    <div class="row features-block">

        <div class="col-lg-6 text-right wow fadeInLeft">
            <img src="views/geslab/section-image-9.jpg" alt="dashboard" class="img-responsive pull-right">
        </div>

        <div class="col-lg-6 features-text wow fadeInRight">

            <h2>Rapidez e comodidade para pacientes, médicos e outros usuários com informações em tempo real.</h2>
            <p style="text-align: justify">Resultados online com solicitações retroativas sem limite de data, consultas detalhadas de pacientes, exames e convênios e módulo de consulta para médicos. Estatísticas, relatórios completos e gráficos com informações atualizadas em qualquer lugar a qualquer hora no seu computador, telefone ou tablet.</p>

        </div>

    </div>
    
</section>

<section id="team" class="gray-section team">
                <div class="navy-line"></div>
                <br>
                <p style="text-align: center; font-size: 50px;" >Serviços</p>
                <p style="text-align: center">Apresentando LISNET - Integração total do laboratório em todas as plataformas.</p>
    <section  class="container features">
    
    <!--<div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Imagem Will criar<br/> <span class="navy"> Imagem Will criar</span> </h1>
            <p>Imagem Will criar</p>
        </div>
    </div>-->
    
    <div class="row">
        <!-- fafa left-->
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-cloud features-icon"></i>
                <h2>Cloud</h2>
                <p>Sistema totalmente online; apenas um pequeno executável em seu computador e você já está conectado!</p>
            </div>
            
            <div class="m-t-lg">
                <i class="fa fa-server features-icon"></i>
                <h2>Estrutura</h2>
                <p>Servidores de aplicação, web e integrações rodando em estruturas de altíssima qualidade.</p>
            </div>
            
            <div class="m-t-lg">
                <i class="fa fa-database features-icon"></i>
                <h2>Bancos de Dados</h2>
                <p>Informações mais seguras com backups completos e diários com retenção por até 14 dias.</p>
            </div>
            
        </div>
        
        <!--image center-->
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="views/geslab/telaConsulta2.png" alt="dashboard" class="img-responsive">
        </div>
        
        <!--fafa right side-->
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-desktop features-icon"></i>
                <h2>Versatilidade</h2>
                <p>24 horas por dia em qualquer lugar, bastando ter uma conexão com a internet sendo ela Mobile, Wi-Fi ou banda larga.</p>
            </div>
            
            <div class="m-t-lg">
                <i class="fa fa-diamond features-icon"></i>
                <h2>Recursos Exclusivos</h2>
                <p>Atualização Live-Update, Laudos em pdf certificados por GesLab Sistemas Intermediate.</p>
            </div>
            
             <div class="m-t-lg">
                <i class="fa fa-dollar features-icon"></i>
                <h2>Vantagens</h2>
                <p>Sem limite de usuários conectados, costumização do web site e área de resultados online.</p>
            </div>
        </div>
    </div>
    
</section>
    
</section>

<!--<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Even more great feautres</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-3 features-text wow fadeInLeft">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                <img src="img/landing/iphone.jpg" class="img-responsive" alt="dashboard">
            </div>
            <div class="col-lg-3 features-text text-right wow fadeInRight">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
        </div>
    </div>

</section>-->

<!--<section class="timeline gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our workflow</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Meeting</h2>
                            <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                            </p>
                            <a href="#" class="btn btn-xs btn-primary"> More info</a>
                            <span class="vertical-date"> Today <br/> <small>Dec 24</small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-file-text"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Decision</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                            <a href="#" class="btn btn-xs btn-primary"> More info</a>
                            <span class="vertical-date"> Tomorrow <br/> <small>Dec 26</small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-cogs"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Implementation</h2>
                            <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                            <a href="#" class="btn btn-xs btn-primary"> More info</a>
                            <span class="vertical-date"> Monday <br/> <small>Jan 02</small> </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>-->

<!--<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>
                    What our users say
                </h1>
                <div class="testimonials-text">
                    <i>"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</i>
                </div>
                <small>
                    <strong>12.02.2014 - Andy Smith</strong>
                </small>
            </div>
        </div>
    </div>

</section>-->

<!--<section class="comments gray-section" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>What our partners say</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-4">
                <div class="bubble">
                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="img/landing/avatar3.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Andrew Williams
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="img/landing/avatar1.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Andrew Williams
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="img/landing/avatar2.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Andrew Williams
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>



        </div>
    </div>

</section>-->

<!--<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>More and more extra great feautres</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
        </div>
    </div>

</section>-->

<section id="pricing" class="pricing">
    
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1 style="text-align: center; font-size: 40px;" >Clientes Geslab</h1>
                
            </div>
        </div>
        
        <!--<div class="row">
            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Basic
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$16</span> / month
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" href="#">Signup</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Standard
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$22</span> / month
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li>
                        <strong>Support platform</strong>
                    </li>
                    <li class="plan-action">
                        <a class="btn btn-primary btn-xs" href="#">Signup</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Premium
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$160</span> / month
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" href="#">Signup</a>
                    </li>
                </ul>
            </div>
        </div>-->
        <!--<div class="row m-t-lg">
            <!--<div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                <p>*Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <span class="navy">Various versions</span>  have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
        </div>-->
    </div>
        
    <!--<div class="isotope-container margin-clear grid-space-0">
        <div class="col-sm-6 col-md-3 isotope-item web-design">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item site-building">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item web-design">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-3.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item web-design">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item site-building">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-5.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item app-development">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-6.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item web-design">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-7.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item web-design">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-8.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item site-building">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-9.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item web-design">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-10.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item site-building">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-11.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item web-design">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-12.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item site-building">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-13.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item app-development">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-14.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item web-design">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-15.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item site-building">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-16.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item web-design">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-17.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item web-design">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-18.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item site-building">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-19.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 isotope-item site-building">
            <div class="image-box">
                <div class="overlay-container">
                    <img src="views/geslab/cliente-20.jpg" alt="">
                </div>
            </div>
        </div>
    </div>-->

</section>

<div class="row">
        <div class="col-lg-10 col-lg-offset-1">


            <slick class="slick_demo_2" infinite="true" slides-to-show="3" slides-to-scroll="1" center-mode="true"
                   responsive="[ { breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 3, infinite: true, dots: true } }, { breakpoint: 600, settings: { slidesToShow: 2, slidesToScroll: 2 } }, { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 } } ]" >
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes1.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                       
                        <img src="views/geslab/clientes2.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes3.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes4.jpg" alt="">
                    </div>
                </div>
                 <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes5.jpg" alt="">
                    </div>
                </div>
                 <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes6.jpg" alt="">
                    </div>
                </div>
                 <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes7.jpg" alt="">
                    </div>
                </div>
                 <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes8.jpg" alt="">
                    </div>
                </div>
                 <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes9.jpg" alt="">
                    </div>
                </div>
                 <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes10.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes11.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes12.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes13.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes14.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes15.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes16.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes17.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes18.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes19.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="ibox-content">
                        
                        <img src="views/geslab/clientes20.jpg" alt="">
                    </div>
                </div>
            </slick>
        </div>
    </div>


<div class="col-lg-12 text-center">
                
                <p>Clientes que confiam em nossos sistemas e tornaram-se nossos parceiros valorizando<br class="hidden-sm hidden-xs"> ainda mais o nosso trabalho em criação e inovação.</p>
            </div>

<br>
<br>
<br>
<br>
<br>
<br>

<!--Div Container para rodapé -->
<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                
                <div class="logo-footer"><img id="logo-footer" src="views/geslab/LogoGL.png" alt=""></div>
                <p>Temos uma estrutura sólida e consolidada. Nossos sistemas podem acelerar a sua empresa, nossas soluções fazem isso acontecer!</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <ul class="list-icons">
                    <li><i class="fa fa-map-marker pr-10"></i>Av. Andromeda, 885 - Alphaville</li>
                    <li><i class="fa fa-building-o pr-10"></i> 7<sup>o</sup> Andar - Sala 720</li>
                    <li><i class="fa fa-globe pr-10"></i>CEP: 06473-000</li>
                    <li><i class="fa fa-phone pr-10"></i> (11) 3090-0072</li>
                    <li><i class="fa fa-envelope-o pr-10"></i> geslab@geslab.com.br</li>
                </ul
            </div>
        </div>
    </div>
    
    <br>
    
    <p>Copyright © 2016 GesLab - Todos os Direitos Reservados</p>
   
    
        <!--<div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 Company Name</strong><br/> consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>

<!-- Local script for menu handle -->
<!-- It can be also directive -->

<script>
    $(document).ready(function () {
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 45
            }, 600);
            event.preventDefault();
            if($('body').hasClass('body-small')) {
                $('#navbar').collapse('toggle');
            }
        });

        // Activate WOW.js plugin for animation on scrol
        new WOW().init();
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
</script>
    
</div>

